[2018-01-12 21:47] xgrommx opened #1 "Page has strange view"
@wenkokke Hello! After all procedures and when I run it I got strange view of page.
![stlcprop properties of stlc 2018-01-12 23-45-59](https://user-images.githubusercontent.com/1499594/34896557-ec30efec-f7f2-11e7-9bec-10404cbecf41.png)

How can I fix it?

[2018-01-12 21:50] wenkokke commented on #1
Hey @xgrommx ! Could you be more specific? The image you've posted is not quite high-resolution enough to see what is going on, and "executing the procedures" isn't all that specific either—do you mean the build script, or the Agda functions, or?

[2018-01-13 12:32] xgrommx commented on #1
@wenkokke I got it after commands `make` and `make server`. I can provide whole page if it will be needed.

[2018-01-24 12:20] jonaprieto opened #2 "Wrong formatted code in the page?"
After following the instructions I got this visiting: http://127.0.0.1:4000/sf/Naturals

![image](https://user-images.githubusercontent.com/1428088/35331882-3c7587a0-0109-11e8-9d9a-05a380e3adbb.png)

And there are other parts/pages with the same problem.

[2018-01-26 13:19] wenkokke commented on #1
Hey @xgrommx, did you encounter any errors during `make`? Right now, the instructions on how to host the code are mostly there for people who are developing this. I'll refine them a bit in the future.

[2018-01-26 13:21] wenkokke commented on #2
I can't reproduce this, although I'm seeing some other issues right now. I think this is mostly due to bugs in my agda2html script.

[2018-02-09 14:33] jonaprieto commented on #2
It's working now, I tested every page

[2018-02-09 14:33] #2 closed

[2018-02-10 16:49] #1 closed

[2018-03-29 14:15] mchaver opened #5 "None of the lessons are accessible"
Only the home page works. I wasn't able to access anything at `https://wenkokke.github.io/sf/` or in the local build.

[2018-05-09 20:57] Fingerzam opened #11 "Possible typo in Relations"
https://github.com/wenkokke/sf/blob/dfad6e08228d1c600e1389fd02c0ca49a0404819/src/Relations.lagda#L96-L97
Should this be `0 ≤ m`?

[2018-05-09 22:16] wadler commented on #11
No, The constructor is called z≤n. Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On 9 May 2018 at 17:57, Juhana Laurinharju <notifications@github.com> wrote:

The University of Edinburgh is a charitable body, registered in
Scotland,

[2018-05-09 22:19] Fingerzam commented on #11
I'm referring to the `m ≤ m` on line 97

[2018-05-09 22:29] #11 closed

[2018-05-10 16:02] Fingerzam opened #13 "Missing explanation of records in Relations"
https://github.com/wenkokke/sf/blob/1cddc512210d5e96ffa9b7bd5282ff2c4beee516/src/Relations.lagda#L546-L560
This is currently the first time records are used, but there is no explanation for them. There should probably be some explanation of preorders as well? A possible exercise here could be for the student to write `IsPartialOrder` and `IsPartialOrder-≤` for some easy syntax practise

[2018-05-12 12:02] Fingerzam commented on #13
Records are introduced in Isomorphism
https://github.com/wenkokke/sf/blob/b9e8d2581f670c8553ca964ec199be18187fe26f/src/Isomorphism.lagda#L58-L94
Maybe adapt and move this to Relations?

[2018-05-12 12:19] Fingerzam opened #15 "lambda is used in Equality, but explained later in Isomorphism"
Lambda is first used in Equality
https://github.com/wenkokke/sf/blob/b9e8d2581f670c8553ca964ec199be18187fe26f/src/Equality.lagda#L441
But it is explained later in Isomorphism
https://github.com/wenkokke/sf/blob/b9e8d2581f670c8553ca964ec199be18187fe26f/src/Isomorphism.lagda#L112-L121
I also encountered it even earlier by using `agda2-refine` in spacemacs

[2018-06-25 10:34] #5 closed

[2018-07-20 06:35] spl opened #34 "Better title for main page"
Currently, the title for the landing page appears as “Table of Contents | Programming Language Foundations in Agda:”

<img width="453" alt="plfa-title" src="https://user-images.githubusercontent.com/54900/42986756-1fb451cc-8bf7-11e8-831d-e33cd72a696a.png">

Since “Table of Contents” isn't a very interesting title and the last part often gets cut off in the browser or when [sharing](https://plus.go

[2018-07-20 06:38] wadler commented on #34
Thank you for the suggestion! Wen, can we do this? -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? Here's why: http://www.emailcharter.org/

On 20 July 2018 at 08:35, Sean Leather <notifications@github.com> wrote:

The University o

[2018-07-25 00:17] potato4444 opened #41 "Incorrect claim of requiring function extensionality"
The book claims that `η-→ : ∀ {A B : Set} (f : A → B) → (λ (x : A) → f x) ≡ f` requires function extensionality in the connectives chapter.

https://github.com/plfa/plfa.github.io/blob/fccd45a05f4e4e2a684792b132599fe0e11e1ea1/src/plfa/Connectives.lagda#L568

But this is not the case. `λ x -> f x` is judgementally equal to `f`. This code shows the proof does not require function extensionality:

[2018-07-25 08:14] wadler commented on #41
Thank you, fixed! -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? Here's why: http://www.emailcharter.org/

On 25 July 2018 at 02:17, potato4444 <notifications@github.com> wrote:

The University of Edinburgh is a charitable body, r

[2018-07-25 08:44] #41 closed

[2018-07-26 16:07] wenkokke commented on #34
Fixed in c6efeddbdd1acc2a90d01559c320f6d875a02a50. Thanks for the suggestion, @spl!

[2018-07-26 16:07] #34 closed

[2018-07-28 03:17] phi16 opened #49 "Inline code doesn't work as expected in Lambda.lagda"
A notation ``` `` x` ``` will produces no highligted code block because the renderer recognizes ``` `` ``` as open-sign for inline code.
As a result some sentence becomes strange:

![image](https://user-images.githubusercontent.com/734677/43352523-b30efb98-925f-11e8-9005-57dea7fd8830.png)

One solution is use double-backquoted block, like ``` `` ` x `` ```.
Or it may more efficient to modify rende

[2018-07-31 11:06] wadler commented on #49
Thank you. Feel free to submit pull requests to fix such issues. Cheers, --
P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? Here's why: http://www.emailcharter.org/

On 28 July 2018 at 04:17, phi16 <notifications@github.com> wrote:

T

[2018-08-01 03:34] bcdarwin opened #50 "Stale reference to levels in Ch. 4"
The paragraph following the definition of equality in Equality.lagda refers to levels, but those are not discussed until later in the chapters (and are not made explicit in the definition referenced).

[2018-08-01 16:30] wadler commented on #50
Fixed, thank you. In fact, the entire discussion pertained to a *different*
definition of equality. Fixed now, but I'm not sure what went wrong there
... Please let me know of any other errors. Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/w

[2018-09-06 14:28] #50 closed

[2018-09-30 19:23] mwand opened #69 "Can't build local copy of website (multiple issues)"
I tried a couple of ways making a local copy of the website, without success.

1.  I tried  wget -p https://plfa.github.io/  .   -p is supposed to give a displayable copy, with all the fonts and css, etc. This failed in two ways:
    a.  It did not load the css, so I got 1995-style html rendering
    b. The chapter links were bad, because they showed up as things like file:///C:/Naturals/  , when

[2018-09-30 19:26] mwand opened #70 "<-trans is too hard (needs "()")"
I got stuck for several days on <-trans in Induction.agda .

I couldn't figure out how to solve it without using () to eliminate impossible induction cases.   It does not appear that () , which doesn't show up until Connections.agda

[2018-09-30 19:33] mwand opened #71 "Emacs character codes should appear at the beginning of each chapter"
If you want to do the exercises, you will either try to do them inline in the .lagda file, or open up a scratch.agda file and work there.    In either case, you'll need how to enter the various Unicode characters.   Right now this covered at by the subsections

Standard Library
and
Unicode

which are at the end of the chapter.  It would be better to put those sections at the _beginning_ of each ch

[2018-09-30 19:41] mwand opened #72 "C-x 3 should probably be mentioned"
To get a better display in emacs, you can do the following

Load your .agda file and do C-c C-l.
Type C-x 1 to get only your agda file showing, then type C-x 3 to split the window horizontally.
Now move to the right-hand half of your frame and switch to the buffer called "Agda information" by typing C-x b Agda TAB.
Now your errors, contexts, etc. will appear _next_ to your file, rather than squash

[2018-10-01 16:37] mwand opened #73 "repo not current wrt website"
The web site says o+o==e is a stretch, and includes a section on Bin-predicates (also labeled "stretch")
but the default branch on the repo does not include either of these.

[2018-10-02 11:07] wadler commented on #69
Forwarding this to Wen for response. Wen, I think at minimum we should
modify README to mention how to install agda2html as well as how to update
it. Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? Here's why: http://www.em

[2018-10-02 11:11] wadler commented on #70
\begin{code}
<-trans : ∀ {m n p : ℕ} → m < n → n < p → m < p
<-trans z<s (s<s n<p) = z<s
<-trans (s<s m<n) (s<s n<p) = s<s (<-trans m<n n<p)
\end{code}

I derived the above in a few keystrokes, using C-C to instantiate case analysis and C-A to instantiate the right-hand sides. No () required.

[2018-10-02 11:11] #70 closed

[2018-10-02 11:12] wadler commented on #70
\begin{code}
<-trans : ∀ {m n p : ℕ} → m < n → n < p → m < p
<-trans z<s (s<s n<p) = z<s
<-trans (s<s m<n) (s<s n<p) = s<s (<-trans m<n n<p)
\end{code}

I derived the above in a few keystrokes, using C-C to instantiate case
analysis and C-A to instantiate the right-hand sides. No () required.
.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University o

[2018-10-02 11:37] wadler commented on #72
Thanks! I've added this text to the "About" page.

[2018-10-02 11:37] #72 closed

[2018-10-02 11:46] wadler commented on #72
Thanks! I've added this text to the "About" page. Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? Here's why: http://www.emailcharter.org/

On Sun, 30 Sep 2018 at 20:41, Mitchell Wand <notifications@github.com>
wrote:

The

[2018-10-02 11:47] wadler commented on #73
The web site is generated automatically from the repository (it takes a few minutes). If you see a discrepancy, it may be because your local copy of the repository is out of date.

[2018-10-02 11:47] #73 closed

[2018-10-02 11:48] wadler commented on #73
The web site is generated automatically from the repository (it takes a few
minutes). If you see a discrepancy, it may be because your local copy of
the repository is out of date. Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too br

[2018-10-02 18:12] mwand commented on #69
Ahh, I scrolled down on the README page and found the instructions for installing agda2html.  However, when I did this under Cygwin, it failed with the following messages:

[code]

Sorry to be so needy....

[2018-10-02 18:30] mwand commented on #71
OK, OK.   I might have tried to find a way to squeeze that in a few
paragraphs earlier.   But since I was in the mode of  "I know this stuff",
I wasn't reading that passage too carefully.   sorry about that.

Definitely don't change the opening sentence!☺

On Tue, Oct 2, 2018 at 7:21 AM wadler <notifications@github.com> wrote:

[2018-10-02 18:31] wadler commented on #69
Eee! I'm useless with such things, but I'm forwarding to Wen, who is not
... Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? Here's why: http://www.emailcharter.org/

On Tue, 2 Oct 2018 at 19:13, Mitchell Wand <notification

[2018-10-02 18:33] wadler commented on #70
"(eg say: C-c C-c m n RET)" I had no idea you could specify more than one variable at a time! Thanks!

Are you inducting on m and n? If so, that is your problem. You should be inducting on the evidence for m < n and n < p.

[2018-10-02 18:34] wadler commented on #70
"(eg say: C-c C-c m n RET)" I had no idea you could specify more than one
variable at a time! Thanks!

Are you inducting on m and n? If so, that is your problem. You should be
inducting on the evidence for m < n and n < p.

Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. h

[2018-10-02 18:36] wadler commented on #71
Fair enough. Thanks! -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? Here's why: http://www.emailcharter.org/

On Tue, 2 Oct 2018 at 19:30, Mitchell Wand <notifications@github.com> wrote:

The University of Edinburgh is a charitabl

[2018-10-02 18:40] mwand commented on #73
Bah, I *thought* I pulled before checking.  Sorry about that.

On Tue, Oct 2, 2018 at 7:48 AM wadler <notifications@github.com> wrote:

[2018-10-02 19:10] mwand commented on #70
No, I was inducting on the evidence.   Inducting on m<n and n<p
simultaneously works just fine, as you did in your proof.

But inducting on either m<n or n<p yields subgoals that seem to need ().

<-trans : ∀ {m n p} → m < n → n < p → m < p
-- trying induction on m<n
<-trans z<s n<p = {!!}    --goal is 0 < .p,  (not sure how to proceed here).
<-trans (s<s m<n) n<p = {!!}

-- trying it again, this

[2018-10-03 04:33] wenkokke commented on #69
Hey @mwand , I'm sorry, I don't have access to a Windows machine to try this for myself, so this may be a bit painful, but I'll give it a shot.
First off, are you using [Haskell Stack](https://docs.haskellstack.org/en/stable/README/)? That's what I'm using to install [agda2html](https://github.com/wenkokke/agda2html).

[2018-10-03 04:38] wenkokke commented on #69
If you're simply looking to have a local copy of the book, and not to edit and build it locally, then you could check out the [master branch](https://github.com/plfa/plfa.github.io/tree/master) of the repository, which contains all the files necessary to host the book using [bundler](https://bundler.io/) and [Jekyll](https://jekyllrb.com/) (but does not contain the source code for the book).

If y

[2018-10-03 04:39] #71 closed

[2018-10-03 04:41] #15 closed

[2018-10-03 04:42] #13 closed

[2018-10-03 04:48] #49 closed

[2018-10-09 15:49] wadler commented on #70
I didn't know about simultaneous induction. For me it works fine inducting
on one after the other. But thanks for the tip, I will add something about
simultaneous induction. Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? H

[2018-10-11 13:20] Acculivia opened #76 "Cannot make build plfa"
I'm getting the following errors, after installing agda2html and beginning making the book on my Mac:

[2018-10-12 12:08] wenkokke commented on #76
Hey @Acculivia ! What version of Agda and the standard library are you using?

[2018-10-12 12:53] Acculivia commented on #76
Agda version 2.5.2; Sorry that I don't know what standard library means...

[2018-10-13 15:49] murilogiacometti opened #79 "[TSPL] Assignment2 is not compiling due to name format"
It seems like Agda require that a module named "X" should be placed under "src/X.lagda" or "src/X.agda" (see figure below).

Please check if it also repro's in your environment.

Suggestion: move "tspl" under "src" and change the module name to "tspl.Assignment2"

![image](https://user-images.githubusercontent.com/43705847/46907223-37a3c300-cf07-11e8-879a-45f5b850fb9d.png)

[2018-10-13 16:13] wadler commented on #79
This is a known issue. If you have the libraries set up properly (see the instructions at https://plfa.github.io/GettingStarted/) then it should be fine as long as the file is named Assignment2.lagda and is *not* in the same directory as the plfa library.

[2018-10-14 11:19] wadler commented on #76
Sorry, I have no idea what is going wrong. Are you using an up to date
version of Agda and the libraries? Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? Here's why: http://www.emailcharter.org/

On Thu, 11 Oct 2018 at 14:2

[2018-10-16 13:58] buggymcbugfix opened #81 "Type signatures vs. proof variables"
Take
[code]
Here the comments narrate what goes on the head of the complete ℕ00𝔹 that I am.

Wouldn't it be less confusing to pattern match on something that is not called `n` in the second clause? E.g.:

[code]

[2018-10-16 14:39] wadler commented on #81
This is a matter of style. Some would indeed prefer to do it in the style you recommend.

[2018-10-16 14:39] #81 closed

[2018-10-16 15:00] wenkokke commented on #76
@Acculivia : another problem that you are having, I think, is that you are on a Mac, and therefore your sed is not compatible with the GNU sed. You can solve this by installing GNU sed, e.g. using

[code]

[2018-10-16 15:30] buggymcbugfix commented on #81
Would it be worth making a note of this in the book? If yes, I'd be happy to open a PR.

[2018-10-17 17:19] buggymcbugfix opened #82 "Nonsensical exercise?"
There seems to be a conflict between the given definitions and the immediately following exercise:

vs

[2018-10-19 10:21] #76 closed, assigned to nobody

[2018-10-21 19:14] wadler commented on #82
Thanks. Fixed. In the second sentence, replaced "preorder" by "total order".

[2018-10-21 19:14] #82 closed

[2018-10-21 23:07] #69 closed, assigned to nobody

[2018-12-01 19:34] jkbbwr opened #97 "Thank you for this"
This looks to be a great starting resource as someone that has been asked to learn agda.

Any chance I can buy you lads coffee?

[2018-12-01 22:50] wadler commented on #97
Thank you, Jakob, I'm glad you like it. The best way to repay us is to file
pull requests when you spot typos or other errors in the book. Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? Here's why: http://www.emailcharter.

[2018-12-02 14:57] francoisthire opened #100 "Compilation error"
While compiling the project, I get the following error:

[code]

How can I fix this issue?

[2018-12-02 15:43] wadler commented on #100
Wen, I suspect this issue arises because plfa has not been set up as a
library. Can you please send instructions and add them to the web page?
Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

Too brief? Here's why: http://www.emailchar

[2018-12-02 19:53] wenkokke commented on #100
@francoisthire The problem is indeed that you haven't setup PLFA as a library. The files under `tspl/` aren't officially part of the textbook – we're using them to run a programming languages course in Edinburgh, and they'll be migrated out later this month. Because of this, they're not part of the library, so they cannot automatically access any of the library code. To fix this, you'll have to se

[2018-12-02 19:53] #100 closed

[2018-12-02 20:17] leifmetcalf opened #105 "Definition Formatting of Addition Different to Multiplication"
This is the book's addition definition:
[code]
This is the book's multiplication definition:
[code]
These things are different:
- `suc m` is surrounded in brackets in the multiplication definition, and isn't in the addition definition
- `=` is surrounded by two spaces on each side in the multiplication definition, and by one space in the addition definition
- The `=` symbols are aligned in the mul

[2018-12-02 21:25] roman-kashitsyn opened #106 "Any chance of getting a PDF version?"
First, thank you so much, the book looks extremely useful!

The online version looks amazing, but there's one minor issue: I prefer reading books away from computer, using my E-Ink device. I can imaging that a lot of people have similar preferences.

So a PDF version of the book (or at least instructions how to make one) would be very helpful.

[2018-12-02 22:47] wenkokke commented on #106
This *should* be possible, and I have created similar setups in the past – where .lagda source compiles to a website *and* to a PDF – but we're not currently working on this.

[2018-12-02 22:50] wenkokke commented on #105
@leifmetcalf There aren't any functional differences, these are simply some wrinkles in formatting that we're still trying to iron out. Thanks for pointing this one out!

[2018-12-02 22:50] #105 closed

[2018-12-02 22:57] #97 closed

[2018-12-04 20:12] alexott opened #112 "Release of the "mobile" versions of the book (epub/mobi)"
It would be nice to release book in epub (and/or mobi) format

[2018-12-05 13:14] wadler commented on #112
Thank you for the suggestion, Alex. I know nothing about epub or mobi
format. Would you like to prepare a copy of the book in these formats? (Or,
better, locate a translator from .md to this format?) Yours, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac

[2018-12-05 13:17] alexott commented on #112
pandoc should have a native translator from .md to epub: https://pandoc.org/epub.html, but I think that it will need to be tuned.

I can try to do it when I have time...

[2018-12-05 22:49] roman-kashitsyn commented on #112
I was thinking of adding [Hakyll](https://jaspervdj.be/hakyll/) config, which should work well with a Jekyll-structured web-site. And Hakyll uses pandoc, so it should be relatively easy to generate epub out of it. Here is an [example](https://paste.isomorphis.me/imy) of configuration that achieves this.

[2018-12-06 07:49] wenkokke commented on #112
I'd be intetested in adding a Hakyll config file to the book. This does seem like an easy way to add support for the epub format.

[2018-12-06 12:53] seven-two-eight opened #119 "mention absurd pattern before exercise `≤-iff-<` in chapter Relation"
I'm only new to Agda and I'm trying to pick up Agda through PLFA. Let me know if what I'm saying makes sense.

By the point we reach [exercise `≤-iff-<`](https://github.com/plfa/plfa.github.io/blob/30e7928c8fcca09deab4ebfc3df31cbebf0e1315/src/plfa/Relations.lagda#L562), there is no mentioning of absurd pattern, which seems to be necessary here.

I only learned about this after asking for help on [

[2018-12-06 13:04] wenkokke commented on #119
You don't need the absurd pattern to complete this exercise. Try proving it by induction on the proof that `suc m ≤ n`, instead of by induction on `m` and `n`.

[2018-12-06 13:04] #119 closed

[2018-12-07 13:04] Kwezan commented on #106
Ways to do this are relatively simple. You can use ready-made applications such as a Adobe Acrobat DC, which quickly and easy translates HTML pages into pdf files or even the PdfCrowd tool (https://pdfcrowd.com).

[2018-12-07 16:39] mdimjasevic opened #124 "Using the PLFA Agda standard library"
I'm a Debian GNU/Linux user and I installed Debian packages `agda` at version 2.5.1.1 and `agda-stdlib` at version 0.12, which are for the language and its standard library, respectively. With it I get an `Invalid name: _` error with files like `Naturals.lagda` and `Induction.lagda` from the PLFA book. Therefore, I thought I'd use your [custom version](https://github.com/plfa/agda-stdlib) of the s

[2018-12-08 10:57] wenkokke commented on #124
@mdimjasevic We don't actually have a custom version of the standard library – it's simply a tag, there's no code in there which isn't in the standard library. That said, your problem is indeed that you have two installations of the standard library. What exactly is going wrong, I have no idea. Maybe you need to recompile agda-mode? Maybe you have the include path to /usr/share/agda-stdlib/ setup

[2018-12-10 13:43] wenkokke opened #129 "Distinguishing the `gas` variable from the "gas" name"
From #128:

This is a good point, we should address it.

[2018-12-11 23:02] hhefesto opened #133 "Failed to find source of module Data.String.Unsafe"
Disclaimer: this is my first time installing Agda

I am on Fedora 28.

I have installed:
- Agda version 2.5.4.2
- Agda Standard Library v0.16 (using instructions in https://github.com/plfa/agda-stdlib)
- agda2html 0.2.2.1
- ruby 2.5.3p105
- Bundler version 1.17.2

In ```~/.agda/libraries``` I have:
```/home/hhefesto/dev/agda-stdlib/standard-library.agda-lib```

In ```~/.agda/defaults``` I have:
``

[2018-12-11 23:20] wenkokke commented on #133
@hhefesto Ah! We maintain a copy of the Agda standard library, but we don't make any changes to it. That means that if you're going to follow the instructions strictly, they're going to end up telling you to clone from the *original* repository. Try to clone from git@github.com:plfa/agda-stdlib.git instead.

[2018-12-12 01:58] hhefesto commented on #133
@wenkokke Thanks!

I've now used https://github.com/plfa/agda-stdlib without following the instructions there (isn't that a little confusing?), and there are still dependency errors:

[code]
I have the same error on ```master``` and ```v0.16```.

[2018-12-12 09:42] wenkokke commented on #133
@hhefesto Well, that's technically a different issue. Lemme create a new issue for it.

[2018-12-12 09:43] wenkokke opened #134 "Failed to find source of module plfa.Relations"
When you run `make build`, I get the following error:

[code]

[2018-12-12 09:45] wenkokke commented on #134
The problem here is that the `Makefile` is trying to build the assignments for the TSPL course. This will be fixed on Dec 18th, when the course officially ends, and we will extract the TSPL material from the repository. This will not happen in later years.

[2018-12-12 09:45] #133 closed

[2018-12-12 09:46] #124 closed

[2018-12-14 11:41] wenkokke commented on #134
@hhefesto If you wish to build the book before then, all you need to do is setup `plfa` as a library, as described [here](https://agda.readthedocs.io/en/latest/tools/package-system.html#example-using-the-standard-library).

[2018-12-14 11:42] wenkokke commented on #106
@Kwezan Those tools *might* work, but they'll be translating the HTML to a PDF. Since we *have* Markdown source for the book, and we can translate the literate Agda parts to LaTeX using `agda`, I feel we can do much better if we set up a script which runs the book through LaTeX.

[2018-12-17 06:29] whxvd opened #139 "≤ᵇ→≤: Explanation of last clause of definition"
The definition:
[code]
The explanation for the last clause:
[code]
Depending on how you view it, the explanation is not correct. Because we let `t` be the evidence of `T (suc m ≤ᵇ suc n)`. And not of `T (m ≤ᵇ n)`.

However, by definition of `≤ᵇ` we have `suc m ≤ᵇ suc n` = `m ≤ᵇ n`. Because of this, evidence for `T (suc m ≤ᵇ suc n)` also is evidence for `T (m ≤ᵇ n)`. That is the ultimate reason we

[2018-12-17 08:14] wadler commented on #139
Thank you for the suggestion. Fixed now. Next time, try suggesting your own improved wording in a pull request.

[2018-12-17 11:20] #139 closed

[2018-12-19 08:48] wenkokke commented on #134
The course files for TSPL will remain in the repository, but an update to `agda2html` should address the issue.

[2018-12-19 08:48] #134 closed

[2018-12-22 15:26] mwhicks1 opened #143 "How am I supposed to work through this book?"
I'm sorry for the newbie question: How am I supposed to go through this material using agda?

I have no prior experience with agda, and I was hoping to start to get that experience using this book. I've read the README and read much of the HTML for the first lesson. I've installed agda and its standard library, and I think the emacs mode is loading properly.

I'm quite familiar with Software Found

[2018-12-22 15:40] mwhicks1 commented on #143
OK, good. I have loaded Naturals.lagda and done C-c C-l to load the file. There are a couple of places where the instructions present an exercise. How am I supposed to edit the file to complete it, as I might in Software Foundations? Should I introduce a \begin{code} ... \end{code} and edit the ... to do it, and then re-load the file? I'm wondering how interaction in agda works with literate files

[2018-12-24 13:50] k4rtik commented on #143
I found those things confusing too. In my case, I ended up creating a separate file `scratch.agda` and imported required definitions to work on the exercises. One of the main reasons I wanted to do that was to avoid writing `\begin{code}` `\end{code}` blocks for each exercise but in turn, I sometimes need to do copy-paste definitions introduced in the chapters.

In Software Foundations, this is no

[2018-12-24 13:53] wenkokke commented on #143
@k4rtik This does sound like a good idea. If I remember correctly, in some cases we have `\begin{code}` `\end{code}` blocks with a postulate with the appropriate name in there, but this can't be done for exercises where writing down the type is part of the exercise. Do you feel it would still be beneficial to have empty `\begin{code}` `\end{code}` blocks for each exercise which requires code?

[2018-12-24 14:03] k4rtik commented on #143
I was thinking something like this (from `Induction.lagda`):
[code]

It probably makes sense to have it at least once in the first chapter to give an introduction to a beginner. I am lazy, so I would prefer having it after each exercise, but that's just me. :)

[2018-12-24 14:04] wenkokke commented on #143
@wadler Opinions? I think this is a good idea.

[2019-01-10 22:20] ice1000 commented on #106
FYI the 2.6.0 release of Agda will bring a new feature that translates the Agda codes in `.lagda.md` files into HTML and leave other parts preserved (so the output file can be post-processed by a markdown renderer and become nice HTML. Example: https://ice1000.org/lagda/MuGenHackingToTheGate.html).

[2019-01-10 22:22] wenkokke commented on #106
@ice1000 Awesome news! That'll be very useful! Unfortunately, at this point, there's a couple of other features of `agda2html` that we've come to depend on, but we might be able to switch over to just using Agda in time!

[2019-01-11 03:18] ice1000 commented on #106
Wow, you have `agda2html`. I didn't know about that.
What features? Can you elaborate?

Maybe it'll be helpful for improving Agda's HTML backend, too.

[2019-01-11 10:01] wenkokke commented on #106
@ice1000 Sorry, it's not exceedingly well-documented. It has the ability to:
- strip implicit arguments from Agda code,
   to make the code more readable and look more like Haskell or Idris
- whenever Agda inserts a link to the definition of a symbol,
   if it's a symbol from the standard library,
   create a link to the online HTML documentation of the Agda standard library
- resolve custom Markd

[2019-01-11 17:20] ice1000 commented on #106
In Agda 2.6.0 you'll have

[code]

Related docs: https://people.inf.elte.hu/divip/AIMXXVIII.pdf

[2019-01-11 17:20] ice1000 commented on #106
if it's a symbol from the standard library,
create a link to the online HTML documentation of the Agda standard library

This is interesting! We haven't thought about that yet. Good idea!

[2019-01-11 17:21] ice1000 commented on #106
to the appropriate url, based on the local filesystem

Modules! Why not use `import TargetModule using ()` as a "link"? :wink:

[2019-01-12 13:34] mdimjasevic opened #156 "Using built-in equality"
I've been reading the chapter on equality and I got to the point where a reader is instructed to add the following:

[code]

However, when I do that, I get the following error:

[code]

This happens with Agda version 2.5.1.1 and Agda standard library version 0.12. I can't see why so any help would be appreciated.

[2019-01-22 06:49] mdimjasevic opened #161 "Isomorphism: refl with no arguments"
In the chapter on isomorphism in a section "Isomorphism is an equivalence", there is a proof that isomorphism is reflexive. From the text I got an impression that the `refl` constructor needs no arguments at all: "In the above, `to` and `from` are both bound to identity functions, and `from∘to` and `to∘from` are both bound to functions that discard their argument and return `refl`." Isn't it actua

[2019-01-22 10:56] ywata commented on #161
In Equality section of Equality chapter: `_≡_` is defined like this
[code]
not like this:
[code]
Because `refl` does not have any argument, `refl` does not take `x` as an implicit argument.

`refl` does not seem to be parameterized at all but as it is defined on (`A` and `x`) parameterized `_≡_` shown above, `refl` and `_≡_` in `λ{x → refl}` depend on `x` and its type.
As a result, `refl` can be t

[2019-01-22 12:15] wadler commented on #161
Marko raises a good point. I'm going to leave this open, while I ponder it for a day or two. Yasu's explanation is not correct, the parameterised data declaration does indeed introduce an implicit parameter to refl. I had forgotten this!

[2019-01-22 12:46] ywata commented on #161
Oh. Sorry to bother you but I'm really waiting for your update!

[2019-01-22 13:23] ywata opened #163 "Yellow area in agda2-mode"
When I solve exercises, I got some yellow color areas in agda2-mode buffer. It could be highly possible my solution or temporal solution are not correct or I may miss something but some explanation about yellow area can help readers like me.  Obviously, agda2-mode is trying to say something in the lower buffer but I do not understand them.

Screen shots are attached.

![list1](https://user-images.

[2019-01-22 13:48] ywata commented on #163
Thank you very much.
The yellow area has disappeared for the last one.  I'll try the others.

[2019-01-28 07:25] mdimjasevic opened #178 "Inability to use the PLFA library as it is"
I'd like to be able to use the PLFA library (i.e., `.lagda` book files) as they are in solving exercises given in the book. However, the library files don't type-check. For example, I'm reading the chapter on connectives now and I'd like to solve the `⇔≃×` exercise. If in my file `ConnectivesExercises.agda` I try to add these imports:

[code]

and I do `C-c C-l` in an Emacs buffer, I get the follo

[2019-01-28 10:30] wadler commented on #178
The book is already designed to be used as a library, and has been used in that way for exercises in my class. Have you followed the instructions in the first section of the "Getting Started" page? Do you have an up to date version of the standard library?

[2019-01-28 10:35] wenkokke commented on #178
The problem is caused not by any required setup of PLFA as a library. It is caused by defining the name `to` twice in Isomorphism.

Once at line 142:

[code]

Once at line 324:

[code]

This is a problem – and worse, one that only becomes apparent when you try to _use_ `to` – which we'll have to address, probably by removing the `open` statements.

[2019-01-28 10:37] wenkokke commented on #178
The problem is caused not by any required setup of PLFA as a library. It is caused by defining the name `to` twice in Isomorphism. Once at line 142:

[code]

Once at line 324:

[code]

This is a problem – and worse, one that only becomes apparent when you try to _use_ `to` – which we'll have to address, probably by removing the `open` statements.

[2019-01-28 18:12] mdimjasevic commented on #178
Philip, I can confirm what Wen said: indeed, it is not an issue caused by my setup; rather, it is a bug in the library because the name `to` is defined twice in the same Agda module. You can try it yourself and you will see this is really the case. Let me know if you're OK with it and I can start reorganising the code chapter by chapter, ensuring that I don't introduce new compilation/type-checkin

[2019-01-28 23:16] ywata commented on #143
I like the idea too for two reasons.
1. It's beginner friendly.
2. This reduces variation how to solve exercises and that may make a bit more  chance to automatic merge can work when text is added or modified.

My concern for this change is some  existing reader may encounter conflicts against latest source code after merge if she/he put their code block in different location on their .lagda file.

[2019-01-29 09:55] #163 closed

[2019-01-29 09:56] wenkokke commented on #143
@ywata Could you open a pull request?

[2019-01-29 10:00] #143 closed

[2019-01-29 10:03] wenkokke commented on #156
Have you tried to do the same with the Agda versions we use – see the README or [Getting Started](https://plfa.github.io/GettingStarted/)?

[2019-01-29 10:09] wenkokke opened #182 "Subscript characters not showing up"
In my browser, the subscript characters used in the [Isomorphism](https://plfa.github.io/Isomorphism/) chapter do not render properly:

<img width="762" alt="screen shot 2019-01-29 at 10 08 43" src="https://user-images.githubusercontent.com/3983973/51900766-02d05480-23ae-11e9-82bd-c144da7665fc.png">

[2019-01-30 15:24] wenkokke commented on #182
More generally, the following subscripts aren't showing up:
![screen shot 2019-01-30 at 15 23 52](https://user-images.githubusercontent.com/3983973/51991498-232e0b00-24a3-11e9-867b-5080e4a0d20d.png)

[2019-01-30 17:32] wadler commented on #182
The missing character is a subscript n. Is there some way of rejigging the font order so that you (and others) get a font which has subscript n? Cheers, -- P

[2019-01-30 21:30] mdimjasevic opened #187 "Connectives: exercises for the empty type"
In the chapter on connectives, there is a section titled _False is empty_. At the end of the section, there are two exercises named and described as:

1) `⊥-identityˡ` - Show zero is the left identity of addition.
2) `⊥-identityʳ` - Show zero is the right identity of addition.

Names can be misleading, but I just wanted to check - shouldn't the exercises be about showing that empty is identity of

[2019-01-30 21:50] wadler commented on #187
Good point. Please make your suggested clarification.

[2019-01-31 11:44] #187 closed, assigned to nobody

[2019-02-01 15:25] PiotrJander opened #190 "Exercise _† not doable"
The statement in question is not (quite) provable.

Firstly, we are asked to formalise the translation _†. As a total function, _† must have a case for each constructor of the source language, for example, it would map `S.`zero` to `T.`zero`.

But now we have that `S.`zero † ≡ T.`zero` but we don't have `S.`zero † ~ T.`zero` because the irrelevant constructors are omitted from the `_~_` relation o

[2019-02-02 19:00] dkrejsa opened #191 "Bin-embedding stretch exercise in Isomorphism chapter suggests inaccurate conclusion"

[2019-02-02 19:04] dkrejsa commented on #191
The Bin-embedding stretch exercise in the Isomorphism chapter suggests that there is no isomorphism
ℕ ≃ Bin.  But there is; just not one that preserves the desired arithmetic correspondence defined in the previous Bin-related exercises.  Here's an example isomorphism:

    \begin{code}
    open import Data.Nat.Properties using (+-suc)

    ℕ≃Bin : ℕ ≃ Bin
    ℕ≃Bin = record { to = toB ; from = fro

[2019-02-03 07:35] mdimjasevic commented on #124
I got this working by removing the system-wide installations of Agda and the standard library and using manually installations of the two.

[2019-02-03 07:39] mdimjasevic commented on #156
You are right. This indeed works with Agda 2.5.4.2 and the standard library at version 0.17. I'll have to read about Agda versioning and when they break their interfaces.

[2019-02-03 07:39] #156 closed

[2019-02-03 10:07] wadler commented on #191
Good point! I've rewritten the exercise to clarify.

That was a lot of work on your part! I've saved it in my answers repository (which is not public in order to discourage simply copying answers), and it may form the basis for a future exercise. Please confirm if you are happy with that.

[2019-02-03 10:08] #182 closed

[2019-02-04 16:59] dkrejsa commented on #191
That's fine, thanks!

[2019-02-05 18:57] wadler commented on #182
Wen, does closing the issue mean you solved the problem?

[2019-02-05 18:58] wadler commented on #182
Wen, does closing the issue mean you solved the problem? -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On Sun, 3 Feb 2019 at 08:09, Wen Kokke <notifications@github.com> wrote:

The University of Edinburgh is a charitable body, registered in

[2019-02-25 13:03] wenkokke commented on #178
This is a rather strange error, because we're able to use `to` unambiguously _within_ the module, but not outside of it. If anyone has any ideas of what behaviour in Agda is causing this, hints would be welcome.

[2019-02-27 07:04] mdimjasevic opened #206 "Quantifiers: Incorrect textual description of proof"
In the chapter on quantifiers, there are these two theorems and their proofs:

[code]

While their proof implementations seem OK, I find the text that elaborates them confusing, if not wrong. In particular, this is how the proof for `odd-∃` is described:

"If the number is odd because it is the successor of an even number, then we apply the induction hypothesis to give a number `m` and evidence th

[2019-02-27 07:26] mdimjasevic commented on #206
I think I know what you meant here: `2 * m ≡ n'` for some `n'` from the proof for `even-∃ e`. Then what is returned for the proof of `odd-∃` is `m` and a proof that `1 + m * 2 ≡ n`, for which we have `suc n' ≡ n`. I'll make a pull request that fixes this text.

[2019-02-27 16:18] mdimjasevic commented on #206
I think I know what you meant here: `2 * m ≡ n'` for some `n'` from the proof for `even-∃ e`. Then what is returned for the proof of `odd-∃` is `m` and a proof that `1 + m * 2 ≡ n`, for which we have `suc n' ≡ n`. I'll make a pull request that fixes this text.

[2019-03-01 21:37] dkrejsa commented on #191
BTW, I just got around to the Bin-isomorphism exercise in the Quantifiers chapter.
I interpreted the exercise in an abstract sense, i.e. I wanted to prove it for _any_ terms to / from / Can
with the specified properties.  I couldn't quite do it; I had to make one additional assumption,

    propCan : (x : Bin) (r s : Can x) -> r ≡ s

(which basically says that (Can x) is a proposition in the HoTT

[2019-03-02 03:55] ywata opened #210 "More: Code block for exercise in More.lagda"
To apply proposed change in #143, I put code blocks with simple script before reading the contents (#181).
Now I'm reading More.lagda and I'm wondering adding code block at the end of More.lagda might not be what is originally intended or not.
I'd like to know how we solve the exercise in More.lagda.
There are at least two possibilities:
(a).  Add code, ex. code for sums,  in existing definition.

[2019-03-03 11:47] wenkokke commented on #210
@ywata Yeah, that code block should be removed, as the intention is to edit the entirety of More.lagda.

[2019-03-04 12:13] ywata opened #213 "make build failed"
During my trial, I encountered two issues. I resolved one  but the other not.

- I had to include `standard-library` in `~/.agda/defaults`
- Currently, I have the following error

[code]

[2019-03-04 12:19] wenkokke commented on #213
Ah! I'm pretty sure I know what's going on – `agda2html` isn't used to dealing with parameterised modules!

[2019-03-04 13:10] ywata commented on #213
@wenkokke
You're welcome.

[2019-03-04 19:38] wadler commented on #210
Yes, that's right. Thanks, guys!

[2019-03-06 00:49] ywata opened #215 "Unicode instructions update"
@wadler @wenkokke
Regarding #211, I created simple script to generate unicode instructions.
I reorganize the structure of code so that it is useable to update PLFA.

The script is one parameter how to generate instructions.It changes how many times we show instructions in chapter to chapter.
Ex. \bN is used Naturals.lagda, Induction.lagda, Relation.lagda and etc.

We do not have to show the instru

[2019-03-07 12:03] wenkokke commented on #213
Actually, @ywata, could you let me know what your `agda2html` version is? I think I fixed this bug quite a while ago, but you might still have an older version. The latest version is `2.3.0`.

[2019-03-07 12:08] wenkokke commented on #215
@wadler What do you think about this? I think @ywata makes a great suggestion to repeat the new unicode characters several times in Part 1 of the book, and automating this would be useful when we expand the book, and to guarantee consistency.

[2019-03-07 12:36] ywata commented on #213
@wenkokke
% agda2html  --version
agda2html 0.2.3.0
Is this latest?

[2019-03-07 12:41] wenkokke commented on #213
Yup, which isn't great news, 'cuz the build is working on Travis and on my machine.

[2019-03-07 13:51] ywata commented on #213
I installed icu4c with brew. I've got this error.
[log.txt](https://github.com/plfa/plfa.github.io/files/2941485/log.txt)
I got the error when I first built agda2html and resolved, which I do not remember how now.
I may miss something.

[2019-03-07 21:48] wadler commented on #215
@ywata I am impressed! Nice idea. Thank you.

Yes, I like the proposal to repeat characters three times in Part I and twice in Part II.

Am I right that this has the disadvantage that when you are editing the source file you no longer see the Unicode instructions in the source you are editing? This is a minor drawback, but on balance I think we could live with it.

I leave it to @wenkokke  to conf

[2019-03-08 08:01] wenkokke commented on #215
@wadler I don't think this is right, we've not integrated it with the Makefile. However, you raise a good point. Should we integrate it with the makefile, so that the unicode listings are automatically updated when we change the paper? I think the main reason there were bugs in there to begin with is because we've changed the source/text of the chapters without constantly maintaining them, so I'd

[2019-03-10 12:47] ywata commented on #215
I created a branch based on this issue.
https://github.com/ywata/plfa.github.io/tree/pr-06

I also created a repository of unicode instruction generator in
https://github.com/ywata/plfa_tool/unicode_instruction

[2019-03-10 13:33] googleson78 opened #223 "Connectives: Sum and product inconsistent fixity (?)"
The product type is declared as associating to the right
[code]
whereas the sum type is declared as *not* associating without brackets.
[code]

Is this done on purpose?

[2019-03-11 06:38] mdimjasevic opened #227 "Lists: meaning of the verb append"
There are multiple definitions of the verb append and according to the [Wiktionary](https://en.wiktionary.org/wiki/append), in computing it means:

With that interpretation of the verb append, wouldn't it be wrong to say in an elaboration of the `append` function that is defined as:

[code]

that "the empty list appended to another list yields the other list"? Shouldn't it be the other way around

[2019-03-13 22:07] googleson78 opened #232 "Isomorphism: Inconsistency in naming with Relations"
In `Isomorphism` `even` and `odd` from `Relations` are referred to with constructors respectively `even-zero; even-suc` and `odd-suc`, whereas in `Relations` they are defined respectively as `zero; suc` and `suc`.

Is this done on purpose?

[2019-03-20 21:08] googleson78 opened #234 "Lists: ¬Any≃All¬ exercise"
In `Lists` in the exercises `¬Any≃All¬`, the reader is asked to generalise `_∘_` to arbitrary levels, after which the generalisation is immediately given, followed by a `-- Your code goes here` field, with no task given for which to write code. I think either it's expected of the reader to write `_∘′_` himself (meaning the function definition should be removed), or the `-- Your code goes here` fie

[2019-03-21 00:58] ywata commented on #213
@wenkokke
I finally succeeded in running make build on my Mac.
I need to build agda2html with lts-13.13 as resolver. And it seems to resolve everything.
I could run make build and make serve as expected. Now, I can read the book on my PC without network access to internet.

Thanks.

[2019-03-24 05:40] mdimjasevic commented on #178
I'm not seeing this happening any more. Not sure what happened in the meantime, but maybe I upgraded my Agda version. I'll close it for now and if I run into this issue again, I'll reopen it.

[2019-03-24 05:40] #178 closed

[2019-03-26 15:09] googleson78 commented on #234
This is fixed in #236

[2019-03-26 15:09] #234 closed

[2019-03-31 15:07] hugomg opened #245 "Would it be possible to clarify what is the minimum version of Agda needed to run the plfa examples?"
A colleague of mine is still using Ubuntu 16.04, and the version of Agda available from its official repositories (2.4.2) seems to be too old to run the examples from this book. For example, when I try to load Naturals.lagda it shows an `Invalid name: _` error.

Does anyone happen to know what is the minimum version of Agda needed to go through this book? If so, perhaps it would be helpful to add

[2019-03-31 18:36] wadler commented on #245
It's hard to keep track of the minimum version that works. Instead, we put up badges (on the Getting Started page) to tell you versions of the compiler and libraries that we know will work. You can usually install such a version without too much hassle by loading and compiling sources, although that may take a while. (If someone is motivated to work out additional compiler/library combinations tha

[2019-03-31 18:36] #245 closed

[2019-03-31 18:55] hugomg commented on #245
Thanks. I have to confess that I totally did not notice the badges, due to "banner blindness".

[2019-05-03 14:31] mdimjasevic opened #252 "Lambda: Possibly Incorrect Quiz Question two · sucᶜ · `zero"
In the chapter on Lambda calculus in the section on reduction, there is this quiz question:

"What does the following term step to? (Where `two` and `sucᶜ` are as defined above.)

[code]
"

Should the term have been ```twoᶜ · sucᶜ · `zero``` instead, where the term ```twoᶜ``` is used instead of ```two```? If so, I can make a patch that updates this.

[2019-05-04 13:55] wadler commented on #252
Yes! Good catch. With `two` it would not type.

[2019-05-05 22:08] #252 closed

[2019-05-15 12:56] gallais opened #260 "Point to the appropriate stable version of the agda-stdlib doc instead of the dev one"
Currently links to the standard library point to https://agda.github.io/agda-stdlib
which is the doc corresponding to the master branch of agda-stdlib.

IIUC the book is based on 0.17 so to avoid links pointing at the wrong thing,
you should instead use the https://agda.github.io/agda-stdlib/v0.17 version
of the doc.

[2019-05-15 12:57] wenkokke commented on #260
Good point, thanks!

[2019-05-15 17:25] wenkokke commented on #260
@gallais The link you included is quite dead, and none of the Agda stdlib pages seem to exist at that URL?

[2019-05-15 21:00] gallais commented on #260
I screwed up the travis script trying to preserve the static versions of the older releases.

[2019-05-15 21:02] wenkokke commented on #260
@gallais Can you let me know when they're (back) up?

[2019-05-15 21:08] gallais commented on #260
They're back up but let's wait until after the build corresponding to the next merge
(probably at some point tomorrow). If they survive then it'll mean I really fixed it.

[2019-05-16 01:54] collares opened #261 "∀-distrib-×: Is plfa.Isomorphism.extensionality enough?"
If I try to prove ∀-distrib-× using the same proof for from∘to as I did in →-distrib-× (using plfa.Isomorphism.extensionality), I get the following somewhat confusing error message in Agda 2.5.4.1:
[code]
However, if I postulate agda-stdlib's version of extensionality instead of using plfa.Isomorphism.extensionality, which is
[code]
then everything works fine. My question is: Is the extensionality

[2019-05-16 06:56] wadler commented on #261
Mauricio,

Thanks for your note. Please send the exact code that failed. Minimise the
file if you can, so it contains all the relevant code but nothing else.
Then I may be able to help.

Yours, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

[2019-05-16 12:23] collares commented on #261
Sorry for not doing this earlier! Since I understand this exercise is in a due assignment for the PUC course, I was trying to avoid "spoilers". Here's the file: https://gist.github.com/collares/5afa808eef7f647190e0dea244e6eb50

[2019-05-16 12:42] collares commented on #261
Sorry, I now have a clue as to where I went wrong: If I use Data.Product._×_ instead of plfa.Isomorphism._×_, then I don't need any sort of extensionality for the proof. If, however, I use _×_ and η-× from plfa.Connectives, then I get the error. I guess the definition of product we did was simplified (wrt levels) for educational purposes?

[2019-05-17 10:47] gallais commented on #260
Victory!

[2019-05-17 10:47] wenkokke commented on #260
Thanks 😂

[2019-05-20 15:12] #260 closed

[2019-05-20 21:45] h4iku commented on #261
I think the same thing also happens in the `from∘to` part of the `∀-×` exercise. It doesn't work with plfa.Isomorphism's extensionality and gives a similar error message, but works with the one posted by @collares.

Gist: https://gist.github.com/h4iku/ddc0ee5b19eca85e8877af93fd632e3c

[2019-05-25 11:26] raduom opened #264 "Wrong definition of suc?"
https://github.com/plfa/plfa.github.io/blob/5a4f10b4393eb1e94288a0144ff843bf6cac145e/src/plfa/Lambda.lagda#L173

Shouldn't suc be defined as:

[code]

[2019-05-25 13:21] wadler commented on #264
No. Read the accompanying text. Yours, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On Sat, 25 May 2019 at 08:26, Radu Ometita <notifications@github.com> wrote:

The University of Edinburgh is a charitable body, registered in
Scotland, wit

[2019-05-25 13:22] #264 closed

[2019-05-27 13:13] fangyi-zhou opened #265 "Version mismatch"
I believe https://github.com/plfa/plfa.github.io/commit/d6ecb6a2e21996b358f019902138766eb09dc63a uses a different version of the standard library by import `_≟_` from `Data.String` instead of `Data.String.Unsafe`.

However travis did not complain, but looking at build logs the error is there:
https://travis-ci.org/plfa/plfa.github.io/builds/537301498
[code]

[2019-05-27 13:16] wenkokke commented on #265
Thanks @fangyi-zhou ! It'd just discovered that. We're in the process of rolling back those changes. I'm a little puzzled as to why travis didn't complain, however. If you have any ideas, please feel free to share them!

[2019-05-27 13:46] fangyi-zhou commented on #265
I think when you pipe a command, the exit code is discarded.
e.g. `false | echo` has exit code 0 instead of 1.

Travis seems to cache `out` directory, so the old file is there. If there is a new error, sed will only complain if the file doesn't exists, but it can read the old cache and hence doesn't.

[2019-05-27 13:55] #213 closed

[2019-05-27 14:07] #265 closed

[2019-05-28 09:54] gallais opened #268 "Add 'How To Cite This Work' chapter with bibtex entry"
Based on the landing page, I wrote:

[code]

but it would be nicer to suggest a uniform citation format.

[2019-05-28 10:02] wenkokke commented on #268
That's right at the moment, though I would recommend at least adding a month, or most specifically a date retrieved in the note field.

I'm using the following, from when the book was released:
[code]

There's the problem that PLFA is a living document, and hence authorship will change over time.

You're right in pointing out we should address this, however, providing a canonical (and changing) bi

[2019-05-28 10:04] gallais commented on #268
I will follow your lead but will keep my `note` field: JFP ignores the url field. :/

[2019-05-28 10:08] wenkokke commented on #268
Oh, yes, one more thing: if it's for print, the canonical hopefully-slightly-more-forever URL is http://plfa.inf.ed.ac.uk, as we might want to move away from GitHub at some point.

[2019-05-29 07:22] wadler commented on #268
Good idea. Done. See the landing page. Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On Tue, 28 May 2019 at 11:55, G. Allais <notifications@github.com> wrote:

The University of Edinburgh is a charitable body, registered in
Scotland

[2019-05-29 23:04] wenkokke commented on #268
Fixed in bcb3ec5e99220e09ea80b144e9829609fde709cf.

[2019-05-29 23:04] #268 closed

[2019-06-06 06:41] mdimjasevic opened #285 "Definition for the ⊢ƛ typing judgment data constructor"
In the introductory chapter on lambda calculus, the definition of [typing judgment](https://plfa.github.io/Lambda/#33420) has a data constructor for functions:

[code]

Can you please clarify why does `x` of type `A` have to appear at the very end of the context? Wouldn't it suffice to say `Γ ∋ x ⦂ A`? I was expecting the definition for this data constructor to be something like this:

[code]

[2019-06-06 06:46] wenkokke commented on #285
The difference between the two definitions you've just given is that in your definition, x is *in* gamma, wheres in the PLFA definition, x is *added to* gamma.

[2019-06-06 07:25] mdimjasevic commented on #285
I'll give an example later today to illustrate why I was expecting the alternative definition.

[2019-06-06 12:31] wadler commented on #285
Good question. I've added a sentence to clarify: "Note also the three places (in ⊢ƛ, ⊢case, and ⊢μ) where the context is extended with x and an appropriate type, corresponding to the three places where a bound variable is introduced."

[2019-06-06 12:31] #285 closed

[2019-06-23 01:34] guilhermehas opened #310 "Improvement of code (eliminating underscore)"
The code can improve by eliminating underscore _
`´suc M = (ƛ ƛ ƛ (# 1 · # 2)) · M `

https://github.com/plfa/plfa.github.io/blob/00b4230545d1ccb81e20ac77d0c5a7f09f286eec/src/plfa/Untyped.lagda#L688

[2019-06-23 11:17] wadler commented on #310
No, because `suc_ has an underscore in chapter Lambda. Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On Sat, 22 Jun 2019 at 22:35, Guilherme Silva <notifications@github.com>
wrote:

The University of Edinburgh is a charitable body,

[2019-06-23 11:47] wenkokke commented on #310
I believe the underscore in `suc_ in Untyped and suc_ in Lambda can be removed without much in the way of consequence.

[2019-06-26 14:09] mdimjasevic opened #318 "Well-typed vs. "well typed""
In the properties chapter on lambda calculus and in related chapters, both "well-typed" and "well typed" are used. Is that OK or should only one of the forms be used? If only one should be used, please let me know which one and I'll create a patch for it.

[2019-06-26 22:38] wadler commented on #318
Thanks. The usual rule is:
  Well-typed calculi are fun.
  This calculus is well typed.
Did I adhere to it? Cheers, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On Wed, 26 Jun 2019 at 11:10, Marko Dimjašević <notifications@github.com>
wrot

[2019-06-27 15:08] mdimjasevic commented on #318
If I'm getting the rule right, I think there are cases in Chapter Properties that don't adhere to it. I'll submit a patch.

[2019-06-28 21:02] potato4444 opened #323 "Old acknowledgments missing"
I have noticed some acknowledgements that were in an older version of the book are not in the current version of the book. Presumably they were lost when the acknowledgements list was automated in https://github.com/plfa/plfa.github.io/commit/f0fed89bcb2e464c6739da6c2b28a13c10d1cfcc#diff-e1a867674ed7d1f8142aa6a28f024465

The people I notice were in the old list but not the current list are:
 - Vik

[2019-06-28 21:54] wenkokke commented on #323
I wonder why these contributors were listed under the "pull request" section, without ostensibly having made a pull request... I'll have to investigate.

[2019-06-28 21:54] wenkokke commented on #323
Out of curiosity, how did you notice this?

[2019-06-29 06:55] potato4444 commented on #323
I don't know about the others, but I got on that list by suggesting a fix in an issue that Phil then applied manually. (I'm in the automated list because of a seperate pull request)

Vikraman Choudhury's name stood out to me when I read the book a year or so ago (probably because it was first in the list). I noticed it was absent from the current version.

[2019-07-01 18:56] mdimjasevic opened #325 "Naming: _—↠⟨_⟩_ instead of _—→⟨_⟩_"
In the introductory chapter on lambda calculus, the `_—→⟨_⟩_` data constructor belongs to the `—↠` relation. Why does the name of the data constructor then have `—→` in it instead of `—↠`? Is the name as it is common in the literature?

[2019-07-02 15:10] h4iku commented on #325
I think it's because each multi-step reduction consists of multiple single step reductions, and `_—→⟨_⟩_` recursively builds a `_—↠_` by reducing a term one step at a time as shown in its following examples.

[2019-07-02 15:13] wenkokke commented on #325
@h4iku is right, you build multi-step reductions by composing a series of single-step reductions.

[2019-07-02 15:13] #325 closed

[2019-07-02 15:30] mdimjasevic commented on #325
Ok, thank you both for clarifications!

[2019-07-02 17:54] wadler commented on #325
Thanks to Marco for the original question, and to h4iku and Wen for answers.

[2019-07-02 19:41] mdimjasevic opened #326 "Properties: definition of canonical form"
In the chapter on properties, there is a section Canonical Forms. The prose there has no definition of what constitutes canonical form, the section only starts with this sentence: "Well-typed values must take one of a small number of canonical forms."

Should I make a pull request that adds a sentence or two giving a definition of canonical form?

[2019-07-04 02:59] Boarders commented on #261
I ran into the same issue in the ```∀-×``` exercise. The issue is that the book version of extensionality:
[code]

[2019-07-06 15:09] Boarders opened #329 "∃-even-odd"
If I try to do the same style of proof you have done for ∃-even and ∃-odd as follows:

[code]
Then the termination checker is unhappy. The exercise should probably indicate a different way forward or explain that it might be necessary. Unless you had something else in mind for the solution where the termination checker is less agitated.

[2019-07-09 14:14] dkrejsa opened #332 "Inaccurate statement about diamond proprety and confluence?"
In the chapter Lambda.lagda, there is a discussion of confluence and the 'diamond property'.  This subsection ends with the paragraph

    It is easy to show that every deterministic relation satisfies
    the diamond property, and that every relation that satisfies
    the diamond property is confluent.  Hence, all the reduction
    systems studied in this text are trivially confluent.

I do not

[2019-07-09 14:55] Boarders opened #333 "All-∀ exercise"
This exercise asks us to prove an isomorphism:
[code]
I believe this is only possible with the version of dependent extensionality discussed [here](https://github.com/plfa/plfa.github.io/issues/261).

[2019-07-09 15:31] gallais opened #334 "Generate anchor links to section title"
The generated html has anchors corresponding to sections (e.g. [this link to
the 'Extensionality' header in `Isomorphism`](https://plfa.github.io/Isomorphism/#extensionality)) but there is no easy way for users
to grab a permalink to such an anchor (I got this one by inspecting the source
of the page).

You can see e.g. the `headerlink` class on readthedocs for inspiration: a
link appears when hov

[2019-07-09 23:31] Boarders commented on #329
I should note that tomjack on the #agda irc pointed out that one can make the termination checker happier by using a curried version for the definitions as I have done [here](https://github.com/Boarders/plfa-exercises/blob/master/Quantifiers/Quantifiers.agda#L223).

[2019-07-10 07:07] mdimjasevic opened #336 "Properties: understanding the proof of subst"
In chapter Properties, there is a proof that substitution preserves types that starts like this:

[code]

I'd appreciate your help in understanding this case, though I can't understand similar cases following this one either. What I'm failing to understand is what `y` corresponds to in the case above. Is it simply a fresh name for the outer implicit `x`? If so, how can the test in the with clause

[2019-07-10 11:21] h4iku commented on #336
In the first variable case, `N` is term `` ` x ``. So, by `{x = y}` the implicit `x` turns into `y`, and by `{x = x}` the `x` in term `` ` x `` turns into `x`, which results in something like this:

[code]

now when `x ≟ y` is `yes`, it means that the extended `y` in the context and the `x` in term `` ` x `` are the same (as we expected because of `Z` in the typing judgment `` (⊢` {x = x} Z) ``),

[2019-07-10 16:36] collares commented on #333
Besides this, one other thing confused me in this exercise: When you have an implicit function such as `f : (∀ {x} → x ∈ xs → P x)` in a type signature, Agda will try to find an implicit argument whenever you use `f` later on, so naïve attempts to solve this exercise will result in lots of yellow. The trick is to do `(λ {x} → f {x})` instead of just `f` if you don't want the default behaviour. It

[2019-07-10 16:39] Boarders commented on #333
@collares : Good point! I had to resort to writing it out [explicitly](https://github.com/Boarders/plfa-exercises/blob/master/List/List.agda#L449) as I was unable to deal with what was implicitly brought into scope.

[2019-07-10 16:41] collares commented on #261
I renamed this issue since the problem with ∀-× affects even people using the book imports, whereas my original issue was specific to using Data.Product.× instead of plfa.Isomorphism.×.

[2019-07-10 16:44] collares commented on #333
If you want to solve it with implicit arguments, this is the version of extensionality I used, courtesy of a kind soul in the Agda IRC channel whose name I unfortunately can't remember:
[code]

[2019-07-11 18:49] Boarders opened #337 "Data.String.Unsafe no longer exports _≟_"
In the imports list for the Lambda chapter it has:
[code]

In the newer version of the standard library it looks like this is exported by Data.String instead.

[2019-07-11 20:34] wadler commented on #333
Thank you. All good points! It's fairly subtle, so I'm not sure whether the best thing is to explain these points or delete the exercise. If someone suggests appropriate text, I'm likely to include it.

[2019-07-11 20:36] wadler commented on #334
Thank you for the suggestion. I'll leave it to Wen. She has limited time, and this may not be the most important priority.

[2019-07-11 20:41] wenkokke commented on #337
We're working on moving to a newer version of the standard library, see #330

[2019-07-11 20:41] #337 closed

[2019-07-11 20:57] Boarders commented on #333
I found these exercises quite challenging but also illuminating and so think it would be a shame to see them go! Personally on such exercises, which includes (I believe):
[code]
I would add something like this the first time around:
[code]
[code]

And then at the later exercises you can say something of the form:
[code]

The dependent-extensionality principle I have written here is enough to solve

[2019-07-11 21:11] collares opened #339 "Any-∃ (Lists): Does the ∃[ x ∈ xs ] P x syntax work?"
I had to use `∃[ x ] (x ∈ xs × P x)`.

[2019-07-11 21:20] collares commented on #339
Minimized testcase: https://gist.github.com/collares/fdf91795968f808b14dcd06f41e201bc

[2019-07-12 13:20] wadler commented on #339
In the syntax you cite, what follows the ∈ is not a list but a type. The symbol ∈ is used in the standard library because a colon would be illegal.

record Σ {a b} (A : Set a) (B : A → Set b) : Set (a ⊔ b) where
  constructor _,_
  field
    fst : A
    snd : B fst
syntax Σ-syntax A (λ x → B) = Σ[ x ∈ A ] B

[2019-07-12 13:20] #339 closed

[2019-07-12 13:45] collares commented on #339
I appreciate the answer. However, I couldn't get ∃-syntax or Σ-syntax to work in the context of exercise Any-∃ as stated (the initial workaround I mentioned works, though), where I believe  Googling tells me another person had the same problem in [0]. A link to the exercise is [1].

[0] https://stackoverflow.com/questions/56375003/what-is-a-valid-type-signature-for-the-any-%E2%88%83-exercise
[1] h

[2019-07-12 14:12] chirsz-ever opened #340 "Possible typo in Decidable"
In the excercise `erasure`
https://github.com/plfa/plfa.github.io/blob/56ebba4a736cfe9cf16e858043639fda4b456233/src/plfa/Decidable.lagda.md#L544
the name of this item should be `∨-⊎` according to its type.

[2019-07-12 14:33] wadler commented on #340
Thank you. Now fixed!

[2019-07-12 14:33] #340 closed

[2019-07-12 15:52] Boarders commented on #339
The problem here is there is a typo in the exercise.

```Show that Any P xs is isomorphic to ∃[ x ∈ xs ] P x.```

should instead read as:

```Show that Any P xs is isomorphic to  Σ[ x ∈ xs ] P x. ```

For example this type signature parses for me:
[code]

Note that we also need to import  Σ-syntax from Data.Product. I would be happy to fix this in a PR but unfortunately I have been unable to build

[2019-07-12 16:08] collares commented on #339
This parses, but the right-hand side of the isomorphism doesn't mention the list xs. My question is then this, I guess: Wouldn't a proof of this imply that "Any P xs" is isomorphic to "Any P ys" for any two lists xs and ys, by transitivity?

[2019-07-12 16:15] Boarders commented on #339
Oh sorry you are quite right, I was too hasty!

I actually needed:
[code]

Apologies! In any case, looks like this is still an issue.

[2019-07-12 16:17] Boarders commented on #339
Yes, sorry you are quite right!

[2019-07-13 12:29] wenkokke opened #342 "Local links are broken since move to Agda 2.6"
The `agda2html` tool contained code to fix local links:
https://github.com/wenkokke/agda2html/blob/master/src/Lib.hs#L213-L230

We have not yet ported this code over to `highlight.sh`.
I've added a series of TODOs to highlight.sh to address this problem:
https://github.com/plfa/plfa.github.io/blob/dev/highlight.sh#L67-L73

A good approach would probably be to create bash functions to compute the H

[2019-07-14 11:14] #342 closed

[2019-07-14 11:39] wenkokke commented on #342
@fangyi-zhou Local references are now fixed, so this might be a good time to merge.

[2019-07-16 20:13] h4iku opened #347 "Menu overlaps content on mobile"
Menu overlaps on the title and some content of the book on smaller screens. Clicking on the menu icon also doesn't close it.

![Screen Shot 2019-07-16 at 23 55 02](https://user-images.githubusercontent.com/3812788/61326322-b7aae080-a82b-11e9-860b-a506f5347c85.png)

[2019-07-16 20:17] wenkokke commented on #347
I'll have a look at the most recent version of jekyll/minima, see if they've made any changes. Otherwise this is a problem with the minima theme in general.

[2019-07-16 20:21] wenkokke commented on #347
I can reproduce this on Android/Firefox and iOS/Safari.

[2019-07-16 22:42] #347 closed

[2019-07-17 21:02] wenkokke opened #352 "Building PLFA requires GNU sed and grep"
At the time of writing, `highlight.js` uses *a lot* of grep and sed, and it requires some features which are only supported by GNU sed and grep. These programs used to be installable as sed and grep using Homebrew. However, overwriting macOS sed and grep is no longer supported.

As a short term solution, we'll have to have `highlight.js` check whether the sed and grep commands are the GNU versions

[2019-07-18 01:02] fangyi-zhou opened #355 "Some hyperlinks are broken"
Hyperlinks referencing HTML tags in chapters are not rendered correctly.

e.g. in https://plfa.github.io/Negation/ Exercise `trichotomy `

![image](https://user-images.githubusercontent.com/7815439/61421706-caf8a180-a93a-11e9-997c-128c15c108ba.png)

[2019-07-18 09:51] wenkokke commented on #352
Fixed by ee944d560f196ed3fd281e3645f94043e2e7dd86.

[2019-07-18 09:51] #352 closed

[2019-07-18 10:15] #355 closed

[2019-07-22 17:40] wadler commented on #326
Yes, please. (Sorry for the delay in response, buried in email!)

[2019-07-22 17:40] #326 closed

[2019-07-22 17:42] wadler commented on #329
Thanks. Do you want to draft some appropriate text?

[2019-07-22 17:42] #329 closed

[2019-07-22 17:44] wadler commented on #332
Ooops! Thanks for the correction. Usually, the diamond property is used to show confluence. So what additional property is required to make the statement correct?

[2019-07-22 17:44] #332 closed

[2019-07-22 17:46] wadler commented on #336
H4aiku is correct, thank you! Marko, suggestions for how to reword to avoid the confusion you suffered would be welcome.

[2019-07-22 17:46] #336 closed

[2019-07-23 15:11] mdimjasevic commented on #336
Thank you @h4iku for your explanation and my apologies for a late reply!

The explanation that follows immediately after the proof of `subst` is quite good. Nevertheless, I think the proof can be improved by introducing fresh variable names (instead of `x` and `y`); while they are accepted by Agda, I'd argue that bindings like `{x = x}` are not very pedagogical, even more so when there are two par

[2019-07-25 11:50] #323 closed

[2019-07-25 12:38] nomennescio opened #362 "Precedence not explained before usage"
https://plfa.github.io/Relations/

"We set the precedence of _≤_ at level 4, so it binds less tightly than _+_ at level 6 "

Levels of precedence are not explained before use. Binding is not explained, although a bit intuitive.  The use of 'infix' to talk about association is quite loose.

[2019-07-25 13:27] nomennescio opened #363 "Use of constructor either not explained or not defined"
https://plfa.github.io/Relations/

"Here z≤n and s≤s (with no spaces) are constructor names, while zero ≤ n, and m ≤ n and suc m ≤ suc n (with spaces) are types. "

However, in the line:
inv-s≤s (s≤s m≤n) = m≤n

is 'm≤n' only a free variable, or is it a constructor, or does it relate to type of the argument of inv-s≤s? To me that is not clear from the text.

Similarly for:
≤-trans (s≤s m≤n) (s≤s n

[2019-07-26 14:52] wadler commented on #362
Precedence is explained in chapter Naturals, section Precedence.

[2019-07-26 14:52] #362 closed

[2019-07-26 15:21] nomennescio commented on #362
Indeed, I overlooked that section. I'm still missing an overview of precedence levels, is that available? Or, as a user, how can I discover the precedence of an operator?

[2019-07-29 08:45] wadler commented on #363
Thanks. I added a sentence on the convention for variable names.

[2019-07-30 14:30] wadler opened #365 "Hilight.sh fails when using ~ in .agda/libraries"
Reporting for Wen. Doesn't elaborate the path.

[2019-07-30 14:32] wadler opened #366 "grep command in html_path function is not portable"
Reporting for Wen. Problem in highligh.sh. Depends on gnu grep

[2019-07-30 15:14] #363 closed

[2019-07-30 15:15] #365 closed

[2019-07-30 15:15] #366 closed

[2019-08-05 10:38] ohad opened #372 "Ambiguous module name error during 'make build'"
There's another clash with the standard library:

[code]

[2019-08-05 19:43] wenkokke commented on #372
This happens when you use the HEAD version of the standard library.

[2019-08-05 19:43] #372 closed

[2019-08-05 19:46] ohad commented on #372
Thanks --- sorry for that!

[2019-08-06 22:05] mdimjasevic commented on #318
This issue has been addressed for the whole book so I'm closing it.

[2019-08-06 22:05] #318 closed

[2019-08-15 15:35] wenkokke opened #381 "Add (practice) label to unlabeled exercises"
Currently, excercises are labelled according to the following scheme:

This can be a bit confusing, and lead to students taking the unlabeled exercises as mandatory. We want to label all of those exercises with "(practice)".

[2019-08-15 16:30] wenkokke opened #382 "Replace Makefile and highlight.sh with a Hakyll build"
Currently, the build process depends quite heavily on sed and grep. We'd like to move to a build script which uses Hakyll to generate the static site. This is a large effort, since the templating languages between aren't the same.

[2019-08-15 19:38] #381 closed

[2019-08-16 22:05] dkrejsa commented on #332
-- Given strong normalization, a relation that satifies the diamond
    -- (local confluence) property everywhere is also (globally) confluent
    -- everywhere.  This doesn't help our case, since the fixpoint (μ) terms
    -- prevent strong normalization from holding, but it is interesting.
    -- Note, I'm considering strong normalization to mean every element
    -- is accessible, with the noti

[2019-08-22 18:38] mayconamaro opened #384 "Suggestion: properly comment about zero as base case for Exponentiation on Part 1"
I know this can be quite controversial, but at part 1, chapter Naturals, the book formalizes the natural numbers using Peano's notation. Peano itself defined naturals starting at 1, reason why the base case for exponentiation would not lead into a problem. But since this book formalizes naturals starting at 0 and the exponentiation formulas are defined as

[code]
the base case indirectly asserts t

[2019-08-23 23:40] dkrejsa opened #386 "Suggestion: 'Renaming' should be renamed"
The Properties.lagda chapter contains a section on 'Renaming' with the result

    rename : ∀ {Γ Δ}
            → (∀ {x A} → Γ ∋ x ⦂ A → Δ ∋ x ⦂ A)
              ----------------------------------
            → (∀ {M A} → Γ ⊢ M ⦂ A → Δ ⊢ M ⦂ A)

However, it strikes me that nothing (i.e. no variables) are being renamed in this result.
The concept it embodies should instead be called 'context extens

[2019-08-24 00:43] dkrejsa commented on #386
"recontextualize" ;-)

[2019-08-24 10:19] wenkokke commented on #386
`rename` does in fact performs renaming – the free variables 0, 1, 2, 3, ..., len(Γ) are renamed using the names 0, 1, 2, 3, ..., len(Δ).

[2019-08-24 10:19] #386 closed

[2019-08-24 22:41] dkrejsa commented on #386
That would actually be renumbering, but OK.

[2019-09-01 23:32] collares commented on #384
The book explicitly mentions that `0 ^ 0 ≡ 1` in chapter Negation, where they explain the rationale for doing so.

The concern you have stems from Calculus, I believe: If f and g tend to 0, then the limit f^g can be anything. The word "indeterminate" in this context means "indeterminate with regards to taking limits", and is a pedagogical device for teaching the rules of Calculus. However, not def

[2019-09-01 23:40] collares commented on #339
@wadler Should this be reopened, per the above comment/discussion? I can quickly send a one-line PR if so.

[2019-09-02 15:52] h4iku opened #393 "Changes to the book not taking effect on the website"
Changes to the book after restructuring are not taking effect on the website. Older files [still exist](https://github.com/plfa/plfa.github.io/tree/master/out/plfa), and they are being served instead of the new ones.
Only Chapter [BigStep](https://plfa.github.io/BigStep/) has the new structure of the book at the moment because it was renamed from [CallByName](https://plfa.github.io/CallByName/), w

[2019-09-02 15:54] wenkokke commented on #393
Thanks! This is a problem with the caching mechanism, I suppose.

[2019-09-02 20:27] h4iku commented on #393
It's all good now.

[2019-09-02 20:27] #393 closed

[2019-09-16 14:14] chikeabuah opened #403 "extrinsically vs intrinsically-typed line count"
the authors claim that the intrinsically-typed lambda calculus representation has less lines, but in the accompanying graphic it is shown as having more lines (275 > 216)

<img width="767" alt="Screen Shot 2019-09-16 at 10 11 09 AM" src="https://user-images.githubusercontent.com/2280440/64965162-7d30e480-d86a-11e9-80dd-d76fff11f9ec.png">

[2019-09-16 14:22] wadler commented on #403
(216 + 235) / 275 = 1.6

[2019-09-16 14:23] #403 closed

[2019-09-18 19:39] chikeabuah commented on #403
my mistake, thank you!

[2019-09-23 06:23] AD1024 opened #412 "Lists: A slight change of the exercise `reverse-++-commute`"
First, since the operation `reverse` together with `++` on two lists is not commutative, would the name `reverse-++-distrib` be more precise about the exercise?

Second, the parameter `{xs ys : List A}`could be changed to explicit parameter since to solve the problem we need to do induction on a list, and it makes the solution more concise while including the induction hypothesis.

[2019-09-23 10:34] wenkokke commented on #412
It seems like the proper term could be antidistributivity?

[2019-09-23 10:37] wenkokke commented on #412
Eh, it's a matter of taste, really. If you find that using this proof you need to fill in the implicit parameters more often than not, they should be made explicit. I think this is a good candidate for that, but I'm not very fussed. We could call it an opportunity to practice pattern matching on implicit parameters.

[2019-09-23 10:38] #191 closed

[2019-09-23 15:32] wadler commented on #412
Thank you for these suggestions, Mike. They sound good to me. If you submit a pull request that implements them, I will approve.

[2019-09-25 22:49] #412 closed

[2019-10-05 14:40] jllang opened #421 "Suggestion: add the law of contraposition to the exercise in chapter Negation"
In the exercise Classical (stretch), the law of contraposition, i.e. `\forall {A B : Set} \r (\neg B \r \neg A) \r (A \r B)` could be added to the list of classical laws to be proven equivalent. The converse is intuitionistically valid. I found straightforward proofs in Agda showing that material implication and double negation elimination together imply the law of contraposition, which implies th

[2019-10-05 14:47] wadler commented on #421
Good point. The five statements currently there can be proved circularly. If contraposition was added, is there a position that would maintain the possibility of circular proof? Where?

[2019-10-05 14:47] #421 closed

[2019-10-05 15:04] jllang commented on #421
I haven't even managed to find circular proofs for the five statements. I have shown that LEM and material implication are equivalent, and that LEM implies double negation elimination, which implies de Morgan's law, which implies LEM. Peirce's law also implies LEM, but I needed both the material implication and double negation elimination for proving Peirce's law.

[2019-10-08 20:03] jllang opened #422 "Problem in Exercise ∀-× (practice), chapter Quantifiers"
I'm sorry if this sounds more like a question about Agda than PLFA, but I feel like I've run into some subtle issue by trying to follow this exercise in what I believe to be the obvious way. I understood that the task in this exercise is to prove the following:
```∀-× : ∀ {B : Tri → Set} → (∀ (x : Tri) → B x) ≃ B aa × B bb × B cc```
I proved the following lemmas:
[code]
`lemma-3` and `lemma-4` cor

[2019-10-09 15:05] wadler commented on #422
Github is not intended as a discussion forum for those having problems with PLFA exercises. There are plenty of other places to try, or if you set up your own forum we can add a link to the PLFA contents page.

[2019-10-09 15:13] #422 closed

[2019-10-17 10:32] adamse opened #425 "Part 3 not in table of contents?"
Part 3 is not visible on the "frontpage" of the book. But the pages seem to be available of you guess the url, ie https://plfa.github.io/Adequacy/...

Is this on purpose?

[2019-10-17 10:33] wenkokke commented on #425
Yes, part 3 is still in beta. See https://plfa.github.io/beta/

[2019-10-17 10:34] #425 closed

[2019-10-17 10:35] adamse commented on #425
I see, thank you!

[2019-10-22 09:14] wenkokke opened #428 "Copatterns and left-programming"
Currently, PLFA uses lots of records to encapsulate definitions of, e.g., isomorphisms, embeddings, etc. This means lots of programming that looks like:

[code]

This is a bad style of programming in Agda, known as right programming – or, putting loads of function abstraction and pattern matching logic on the right-hand side of an equality symbol.

In order to shy students away from right programm

[2019-10-22 09:14] #384 closed

[2019-11-02 10:25] qaisjp opened #434 "Make Lambda plusᶜ slightly more clear"
There's a part of this (Lambda) chapter that I had to read several times to understand what was going on, copied here:

It's clear how it works once you remember the very important fact that:

Whilst it may be obvious, I feel that the first quote would be easier to consume if it was reworded a little bit to highlight _how many_ times `s` is applied, something like this:

[2019-11-02 15:06] wadler commented on #434
Exactly the sentence you request appears in the preceding paragraph.

[2019-11-02 15:06] #434 closed

[2019-11-03 13:01] isovector commented on #106
I'd love a PDF version of this!

[2019-11-08 11:42] jllang opened #436 "Exercise Suggestion: Pi-syntax"
Hi. I like this book a lot, but I think it could have more exercises. In the quantifiers chapter, there's an example on the use of the `syntax` keyword that introduces the existential quantifier. As an extra exercise, I defined a datatype that captures dependent functions and declared a syntax similar to the Sigma syntax. The Pi type turned out to be almost the same as Sigma type, only with differ

[2019-11-08 11:45] wenkokke commented on #436
I think this is a great idea! What about you, @wadler?

[2019-11-08 11:46] wenkokke commented on #436
@jllang Just to mention this, though, I'm pretty sure you can do this just fine without defining a datatype for it. Just a bit of syntax should be enough.

[2019-11-08 12:18] jllang commented on #436
Wow, I even managed to define an infix arrow syntax similar to lambda abstraction for constructing values of my Pi type!

[2019-11-08 12:21] jllang commented on #436
It is remarkable how even function types aren't truly special in Agda

[2019-11-08 12:22] wenkokke commented on #436
They're pretty special, in the sense that you can't pattern match on their structure.

[2019-11-08 12:26] jllang commented on #436
OK, that's true. Still, I'm quite surprised that I could define my own lambda abstraction equivalent.

[2019-11-08 18:24] wadler commented on #436
If you want to propose a new exercise for the book, please submit it in a pull request and I will be happy to review it. From the description above, it wasn't clear to me exactly what you had in mind.

[2019-11-16 18:49] collares opened #439 "DeBruijn: Discuss "rename _ _ = μ ` Z"?"
In chapter DeBruijn, "μ ` Z" is a valid term of any type in any context, and it is found by Agsy. Therefore, there are easy-to-find wrong implementations of "rename"  that typecheck. Is this worth discussing?

[2019-11-29 13:01] wenkokke commented on #439
I don't think this is worth discussing. The term ``μ ` Z`` represents an infinite loop, so this is true for any operation on terms, not just `rename`. However, "replace whatever with an infinite loop" is pretty clearly the wrong operation. Furthermore, I would discourage readers from overly relying on Agsy.

[2019-11-29 13:01] #439 closed

[2019-11-29 13:02] #382 closed

[2019-11-29 13:03] wenkokke commented on #310
@wadler Do you have any strong feelings with regards to keeping or deleting the underscore?

[2019-11-29 13:05] wenkokke commented on #227
No, this is actually a fair point.

[2019-11-29 13:16] #227 closed

[2019-11-29 14:47] wadler commented on #223
Good catch. They should be consistent, I suggest both right associative. Googleson, would you make this change so it can be accepted as a pull request? Many thanks.

[2019-11-29 14:47] #223 closed

[2019-11-29 14:49] wadler commented on #310
OK, go ahead.

[2019-11-29 22:52] wadler commented on #333
The section on extensionality in Chapter Isomorphism now states: "More generally, we may wish to postulate extensionality for dependent functions" and introduces a suitable postulate named ∀-extensionality. So all that is necessary is to add a line to the exercises mentioned citing ∀-extensionality. Would one of you be willing to add a pull request along these lines? I would do it, but I think it

[2019-12-14 18:29] andy0130tw commented on #372
A subtle note: It will also happen if you use agda-stdlib v1.2.

[2020-01-03 15:21] wenkokke opened #445 "Build fails on git-restore-mtime"
[code]

[2020-01-03 15:24] #445 closed

[2020-01-03 15:56] wenkokke opened #446 "Build fails on installing octokit"
The build fails due to an octokit/faraday version mismatch:

[code]

[2020-01-03 15:56] #446 closed

[2020-01-08 12:54] ywata opened #448 "Mentioning quail-show-key and agda-input-show-translations"
Hi.

I found two useful emacs command to input math symbols.
They are quail-show-key and  agda-input-show-translations.
I'd like to propose to mention these commands somewhere on the top of web page or in the book.

M-x qual-show-key
If you type the command on mathematical symbol in agda-mode, emacs gives you how you input the symbol in mini buffer.

M-x agda-input-show-translations
This command s

[2020-01-08 13:18] wadler commented on #448
OK. Please write a pull request to add these under "Unicode Characters" on the "Getting Started" page. You might also want to copy them to the Unicode section at the end of Chapter Naturals.

[2020-01-08 13:55] ywata commented on #448
OK. Then, I'll also check some more useful emacs commands for math symbols exist or not before I write pull request.

[2020-01-11 05:14] ywata commented on #448
As my pull request was merged. I close this ticket.
Thank you. I hope this helps PLFA readers.

[2020-01-11 05:14] #448 closed

[2020-01-13 10:30] wenkokke opened #451 "Mention mailing lists in table of contents"
Two mailing lists have been created for PLFA:

- plfa-interest@inf.ed.ac.uk
- plfa-dev@inf.ed.ac.uk

We should add a line mentioning it with instruction on how to sign up on the table of contents page, after the list of uses of the course.

[2020-01-21 17:04] #451 closed

[2020-01-24 21:41] mdimjasevic opened #455 "Chapter Properties: explanation of the proof for eval"
In the chapter on properties, there is a proof for `eval`:

[code]

It is followed by the explanation of the proof broken down into cases. For each case, the prose says that we return evidence that `L` is well typed. By looking at the definition of the `Steps` relation and by looking at what is returned by `eval`, I see no evidence that `L` is well typed (there is such evidence in an antecedent of

[2020-01-27 19:55] wadler commented on #455
Good catch. The prose is right, the code is wrong! The constructor steps
should return evidence that L —↠ N (as currently) and that N is well-typed
(currently omitted). The second is important because in the out-of-gas case
we want to have enough information to invoke eval again. Yours, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University o

[2020-02-08 14:27] #334 closed

[2020-02-16 20:39] hanshuttel opened #466 "Dead link?"
There appears to be a problem with a dead link. See below.

`iMac% make test
Processing courses/tspl/2019/Assignment2.lagda.md
./highlight.sh courses/tspl/2019/Assignment2.lagda.md --include-path=src/ --include-path=courses/tspl/2019/
courses/tspl/2019/Assignment2.lagda.md: canonicalizePath: does not
exist (No such file or directory)
File not generated:
make: *** [out/tspl/2019/Assignment2.md] Err

[2020-02-18 13:01] wadler commented on #466
Wen? Do you know what's going on here? My laptop isn't setup for Agda currently, so it's difficult for me to try this out.

[2020-02-18 13:01] wenkokke commented on #466
Can't replicate this myself, so I'm not sure what's going on.

[2020-02-19 21:43] #466 closed

[2020-03-17 03:41] ice1000 opened #468 "Consider upgrading Agda"
... to the newly released version 2.6.1

[2020-03-17 11:02] wenkokke commented on #468
Will do so in the coming few days.

[2020-03-20 22:32] maxild commented on #468
I am using agda 2.6.1 and agda-stdlib 1.3. `Naturals.lagda.md` can load (it type checks). Does that mean the entire book type checks? I can only tell that a lot of files/modules are processed by the compiler. I haven't look at how agda load modules, or how the book is organized into modules, so bare with me for now.

[2020-03-21 01:10] ice1000 commented on #468
Agda loads the module you asked and its dependencies. I think you shall check all of them, `Naturals.lagda.md` is just a small module in plfa. You'd better take a look at the second chapter

[2020-03-24 12:38] ice1000 commented on #468
Fyi, I'm gonna add this feature to agda 2.6.2:
![a](https://user-images.githubusercontent.com/16398479/77426432-d8f4a100-6daa-11ea-8bf5-e6868c5509c4.gif)

[2020-03-25 00:36] gdahia opened #469 "Possible wrong hint in part1.Relations exercise Bin-predicates"
First of all, thanks for writing and making the book available. I am learning Agda from it, and I think it's great.

I believe there is a mistake in the hint for the [exercise Bin-predicates in `part1.Relations`](https://github.com/plfa/plfa.github.io/blob/dev/src/plfa/part1/Relations.lagda.md#exercise-bin-predicates-stretch-bin-predicates). It says

but 1 is greater than `from (⟨⟩ O)` which satis

[2020-03-25 11:36] wadler commented on #469
Thank you for the kind words, and for bringing up the issue. According to my records, Jeremy Siek added that phrase. I've written to him to ask why. I agree, it looks wrong to me; inequality is irrelevant to that exercise.

[2020-03-25 12:26] gdahia commented on #469
Since my point was not the irrelevance of inequality to that exercise -- my proof used the fact that [binary strings which start with a one are greater than zero](https://github.com/gdahia/plfa-exercises/blob/master/plfa/part1/Relations.agda#L349-L352)
[code]
and that [binary strings obtained from adding these numbers two times is equivalent to adding an `O` to the end of their binary strings](htt

[2020-04-02 11:09] zenzike commented on #468
Upgrading will need a bit of a fix:`plfa.part1.Induction.lagda.md` fails to load because when using agda-stlib 1.3 this causes:
[code]
I think this is related to what's discussed in the [changelog](https://github.com/agda/agda-stdlib/blob/b859bd363a96bc862ead0509bdf5869837651896/CHANGELOG/v1.3.md).

[2020-04-02 11:16] zenzike commented on #468
To fix this, replace line 31, which says:
[code]
with
[code]

[2020-05-07 08:41] malte-v opened #471 "Source of mononoki font"
On the website you're using and recommending the `mononoki` font. I've downloaded it from the official source, but many non-ASCII symbols look off and different from the ones on your website. After taking the font from this repository (assets/fonts/mononoki.woff2), converting it to OTF and loading it into Emacs, everything looks good and exactly as on your website. I'd be happy to know where you g

[2020-05-07 13:26] wadler commented on #471
Wen, Can you answer this one? (Wen is busy just now, so it may take her a
day or two.) Go well, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On Thu, 7 May 2020 at 05:42, malte-v <notifications@github.com> wrote:

The University of Edinburg

[2020-05-07 17:00] wenkokke commented on #471
@malte-v I've not encountered this issue before. It seems to me that the [download of the mononoki font](https://github.com/madmalik/mononoki/tree/master/export/webfont) contains the .woff2 asset. However, I believe the version of the mononoki font we're using on the website was sent to us by @madmalik, so we may have a slightly different version?

[2020-05-07 18:25] malte-v commented on #471
FYI, the `mononoki-Regular.woff2` file in @madmalik's repository is different from yours. (I believe you're using the regular version.)

[2020-05-08 09:48] malte-v commented on #471
Can confirm that @madmalik's woff2 does not contain the good looking symbols.

[2020-05-10 00:26] BaksiLi commented on #468
This helps a lot. Thank you mate!

[2020-05-11 19:29] dsheets commented on #469
I think this was fixed in 8ef93f790bdc17c487972b0054e0369d55861a6f:

Your theorem is responsive to the hint, it seems to me. For what it's worth, I also used similar inequality theorems.

[2020-05-11 19:48] dsheets opened #472 "Agda 2.6.1: plfa.part2.Properties eval termination checker error and refl type error"
With Agda 2.6.1, I get the following error and warnings when loading a clean copy of `src/plfa/part2/Properties.lagda.md` at 83b8e6da005894cd5dc2417e5a52cfbd1ce41e9c (HEAD at 963fc985b0668224e3b681a1f8604b7e63d8a152):

[code]

Is this an Agda bug? The recursive call seems fine to me... though I am relatively new to Agda.

Thanks!

[2020-05-11 23:10] wadler commented on #472
As you can see on this page:
    https://plfa.github.io/GettingStarted/
you should use PLFA with Agda 2.6.0.1, not 2.6.1.

There are some changes in 2.6.1 that break things, but we haven't upgraded
for them yet. We probably will over the summer.

Go well, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior R

[2020-05-12 02:00] gdahia commented on #469
I agree, and I am closing the issue because of that. Thanks for the update.

[2020-05-12 02:00] #469 closed

[2020-05-12 07:26] dsheets commented on #472
For the curious, this issue is due to a removed feature in Agda 2.6.1 that seems to have been troublesome in some cases: not working with `--without-K` and allowing non-productive recursion to pass the termination checker (especially, it seems, in the presence of coinductive data types) and therefore cause the system to diverge. See agda/agda#3604 and links therefrom for all of the details.

Follo

[2020-05-15 12:56] L-TChen opened #473 "Why not Takahashi‘s method to prove confluence?"
I was also trying to prove confluence using Takahashi’s approach, and with the sigma-algebra developed in the section on substitution I am able to prove the following `par-complete-dev` by a simple induction on the derivation of parallel reduction.
[code]
Then the confluence property follows easily.

But, in the development version of plfa, I noticed the following paragraph

If the proof can be ma

[2020-05-15 14:05] jsiek commented on #473
Dear Liang-Ting Chen,

That's great that you've given this approach a try.
My concern with Takahashi's method for this section is that I believe
there is a trade-off: one defines a second notion of parallel reduction
(an increase in complexity) in exchange for a proof that includes one
less case (decrease in complexity). So it was not obvious to me
that Takahashi's method would lead to a simpler d

[2020-05-18 06:58] L-TChen commented on #473
Sorry for my late reply. I don't bring my work laptop home (even though I still cannot resist thinking about it and working from a tablet), but my formalisation needs to be polished in the style of plfa.

Here is the core part of my formalisation:
[code]
The main difference is that
  1. `par-diamond` is replaced by the complete development `_⁺` and `par-dev` and
  2. the `strip` lemma has only one

[2020-05-19 13:31] jsiek commented on #473
The Takahashi version uses 32 lines in total to prove the strip lemma,
whereas the existing proof based on the diamond property uses 47 lines.
Also, just eye-balling the two proofs, I agree that the Takahashi version is
simpler.

Would you like to do a pull request for this?
If not, my plan will be to update this chapter to use Takahashi's method
when I find the time to write the necessary text to

[2020-05-20 09:04] L-TChen commented on #473
I can give it a try (when I find the time as well)!

[2020-05-22 11:58] razvan-flavius-panda opened #475 "Solution for `.lagda.md` not being supported by many editors / IDEs"
About 1-2 years ago PLFA was using `.lagda` files and at some point it moved to using `.lagda.md` files.

`.lagda.md` files are not well supported on most editors or IDEs. For example, they do not work in Atom, Visual Studio Code, etc.

From what I heard `.lagda.md` do work when using `agda-mode` in any Emacs variant, like vanilla, Spacemacs, Doom Emacs, etc. but I have not tested this.

Possible

[2020-05-22 11:59] razvan-flavius-panda commented on #475
We have started doing a PLFA study and we are quite a few people but stumbled upon this issue that blocks us.

[2020-05-22 12:09] wenkokke commented on #475
Agda switched to using this extension as part of their push to support different sorts of literate code, starting with version 2.6.0. The purpose of using this extension was to trigger the editor mode for the literate text, as opposed to the editor for Agda. In emacs, we offer a workaround, which essentially special-cases `.lagda.md` and opens `agda-mode` for it. However, for other IDEs similar so

[2020-05-22 12:14] razvan-flavius-panda commented on #475
@wenkokke Thank you for the timely reply.

Could you give more detailed steps into how to do this and how it would work? `What you could try is symlinking each .lagda.md file to a .lagda file, and directing students to open the symlinks instead?`

[2020-05-22 13:15] wadler commented on #475
On Unix,
  ln -s file.lagda.md file.lagda
You'll have to look it up for Windows.

[2020-05-22 13:40] razvan-flavius-panda commented on #475
@wenkokke @wadler I understand how symlinks work.

What I do not understand is: how will this get the editors working?

[2020-05-22 14:42] wenkokke commented on #475
Oh, the trick is that the editor will see the `.lagda` extension as opposed to the `.lagda.md` extension, and load the appropriate editing mode.

(If your problem is that the editing modes don't support the Markdown code fences, obviously this won't address your problem.)

[2020-05-22 14:43] wenkokke commented on #475
Unrelated, but I use Spacemacs, and it works for me. The `agda-mode` ships with Agda, and hence it should be independent of Emacs variant.

[2020-06-01 20:18] mdimjasevic opened #476 "Links to definitions broken"
It could be the case in other chapters as well, but as of today (June 1, 2020) there are broken links to definitions in the Introduction to Lambda Calculus chapter (https://plfa.github.io/Lambda/). For example, in the definiton of `⊢two`, `⊢suc` is used, but when clicked on, it gives a 404 page not found error (because https://plfa.github.io/Lambda/plfa.part2.Lambda.html#34516 does not exist).

I

[2020-06-02 09:24] wadler commented on #476
Thank you, Marko. Wen, Can you have a look at this? Go well, -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On Mon, 1 Jun 2020 at 21:18, Marko Dimjašević <notifications@github.com>
wrote:

The University of Edinburgh is a charitable body, re

[2020-06-02 09:32] wenkokke commented on #476
This is confusing, since we've not made any real changes in a couple of weeks. I'll look into it.

[2020-06-16 05:15] juhp commented on #471
How about trying the `.ttf` file(s) instead - you probably don't want the webfont?

[2020-06-16 05:16] juhp commented on #468
Out of curiosity has anyone tried agda-std-1.2 with current plfa?

[2020-06-16 08:55] zenzike commented on #468
Yes, it worked for me.

[2020-06-16 10:06] #112 closed

[2020-06-16 10:26] wenkokke opened #480 "Errors in generated EPUB"
There's a large number of errors in the epub, mostly resulting from broken links, and what looks like some uninterpreted Jekyll templates:
[code]

[2020-06-16 10:29] wenkokke commented on #480
It may be good to embed the `.woff2` versions of the fonts, instead of the `.ttf` versions. You can find those in the `assets/fonts/` directory.

[2020-06-16 10:39] wenkokke commented on #480
There's several problems arising from the fact that you're working directly from the `.lagda.md` files.

1. We're not rendering the Jekyll templates, and hence a number of links are broken. To fix this, we'd either have to reimplement the template engine in Lua, or work from the rendered static website.
2. We're not getting the benefit of syntax highlighting, in so far as that's possible for epubs

[2020-06-16 10:50] wenkokke commented on #480
I've just changed to code to embed the mononoki `.woff` file, which should be supported by the EPUB3 format.

[2020-06-16 11:03] wenkokke commented on #480
Just saw your comment regarding syntax highlighting, and yep, I've been checking it on Apple Books. Will check Thorium.

[2020-06-16 11:20] wenkokke commented on #480
Lastly, there's the matter of acknowledgements. The acknowledgements are generated by running a program which pulls the required information from GitHub, and then stores it in the `_config.yaml` file. For offline builds, we don't do the first step – only for builds which are published.

The easiest way to deal with both this issue *and* the link issue would be to use a Lua renderer for moustache t

[2020-06-16 12:41] mreed20 commented on #480
Thanks for looking into that. I just tested with my ereader and now I'm getting a lot of missing glyphs:

![IMG_0965](https://user-images.githubusercontent.com/45747341/84775032-aa9ef000-afac-11ea-994a-ce43d1cd8754.jpeg)

I'll look into it. The problem could be that mononoki doesn't contain the missing glyphs, or that my 10 year old ereader doesn't support `.woff` fonts. By the way I made a pull r

[2020-06-16 12:47] mreed20 commented on #480
@wenkokke Regarding the broken links, I think regex is the way to go due to its simplicity, at least for now. I can implement the link rewriting as a simple pandoc filter.

[2020-06-16 14:52] malte-v commented on #471
The TrueType fonts are the ones I was using initially. I just tried the webfonts to see whether they contain the mathematical symbols since that is the format used on https://plfa.github.io.

I've also messaged @Cubesoup, sadly he doesn't have any copies of the font anymore.

[2020-06-16 15:12] wenkokke commented on #480
I'm including the DejaVuSans and FreeMono fonts, even though they shouldn't really be neccessary. The problem with embedding the `.ttf` fonts is that, unfortunately, the version of mononoki which we use for PLFA covers slightly more characters than the version which is publicly available.

[2020-06-16 15:24] wenkokke commented on #480
For reference, the best way of seeing how well the fonts are working, have a look at the [Fonts](https://plfa.github.io/Fonts/) page. Usually, the first block is a wee bit broken, through lack of support for sub- and superscript characters, but the remainder of the blocks line up.

[2020-06-18 06:59] wenkokke commented on #480
Okay, so we're down to the following errors:
[code]
Essentially, that means fixing the acknowledgements, and whatever that first error message is about.

[2020-06-18 06:59] wenkokke commented on #480
Ah, the first error message is a result of Phil's dedication.

[2020-06-18 07:07] wenkokke opened #482 "Build of PLFA site and EPUB doesn't list dependency on static Markdown files"
In the Makefile, building the PLFA site and EPUB doesn't list the dependency on the static Markdown files, such as `dedication.md`.

[2020-06-18 07:27] wenkokke commented on #480
Okay, I've updated the dedication. That just leaves the acknowledgements.

[2020-06-18 08:16] wenkokke commented on #480
@mreed20 Do you have any suggestions for leveraging you Lua code to render the acknowledgements? For instance, using lustache? The templating logic in `src/acknowledgements.md` is a little more involved than simple regexes.

[2020-06-18 11:20] mreed20 opened #483 "Integrate epubcheck into the build process"
Shouldn't be too hard. I can look into it if no one else beats me to it.

[2020-06-18 11:22] wenkokke commented on #483
This shouldn't be too hard at all, assuming a debian package is available. However, we can't actually do this until we've gotten rid of all the errors.

[2020-06-18 11:23] mreed20 commented on #480
@wenkokke Lustache looks like a great idea. It also looks like pandoc has good template support, and can take YAML input, so I'll check them both out.

[2020-06-18 11:23] wenkokke commented on #483
Once the acknowledgements file is fixed, I plan to integrate epubcheck into the build process, make the resulting EPUB available on the website, and publicise the experimental support for the EPUB format.

[2020-06-18 11:25] wenkokke commented on #480
Using Pandoc would avoid adding another dependency, but a quick look at their templating syntax tells me that we'll probably end up having to duplicate `src/acknowledgements.md`... in which case, Lustache might be preferable?

[2020-06-18 11:27] mreed20 commented on #480
Yeah I agree. It would be nice if we could preprocess `acknowledgements.md` once with the contributor info, and then use the result for both the website and the book.

[2020-06-18 11:29] mreed20 commented on #480
Also thanks for fixing those errors on the Dedication! On the website, it looks like there's no longer any line breaks, but it's fine honestly.

[2020-06-18 11:32] wenkokke commented on #480
Ah, thanks for pointing that out... I was testing the layout by deploying it, since I can't build the book locally at the moment. Not, uh, terribly great practice.

[2020-06-18 11:34] mreed20 commented on #483
That sounds great! Call me excited :)

[2020-06-18 11:36] mreed20 commented on #480
Heh, indeed. If you're unable to spare the (large) amount of time it takes to build pandoc, there's a binary package on the website: https://pandoc.org/installing.html

[2020-06-18 11:38] wenkokke commented on #480
Thanks, but I've got Pandoc. I'm concurrently working on a pull request for Agda, so I don't have Agda 2.6.0.1 on my system right now.

[2020-07-02 09:17] #480 closed

[2020-07-02 11:23] wenkokke opened #486 "Explain unnamed arguments"
The first use of an unnamed argument is here: https://plfa.github.io/Relations/#transitivity
However, the syntax isn't explained... and in fact, `_` is explicitly ruled out (erroneously, but perhaps for the best) as a character that may occur in an Agda name.
We should probably address this.

[2020-07-02 11:24] wenkokke opened #487 "Formatting issue in Relations#Transitivity"
There's a small formatting issue in [Relations#Transitivity](https://plfa.github.io/Relations/#transitivity), which I'm reminding myself of here.

[2020-07-02 11:50] wadler commented on #486
What do you mean by "unnamed argument"? If you mean _, it is explained in the text. If you mean implicit arguments, they are explained in a section earlier.

[2020-07-02 11:52] wenkokke commented on #486
Oh, so it is! I must've read over that.

[2020-07-02 11:52] #486 closed

[2020-07-02 12:06] #487 closed

[2020-07-02 12:08] #455 closed

[2020-07-02 12:09] #310 closed

[2020-07-02 12:24] wenkokke commented on #471
See https://github.com/madmalik/mononoki/issues/72

[2020-07-02 12:45] L-TChen commented on #473
Thanks for pinging me. It has been on my to-do list for a while. I just need to finish a few more things (review, summer school organisation, etc.) before getting back to this.

[2020-07-02 22:41] wenkokke commented on #483
Fixed!

[2020-07-02 22:42] #483 closed

[2020-07-02 22:45] #472 closed

[2020-07-02 22:45] wenkokke commented on #472
Duplicate of #468

[2020-07-02 22:47] #476 closed

[2020-07-06 11:15] possientis opened #488 "Definition of Confluence in chapter Lambda (Part 2)"
I just wanted to say that I was confused (and surprised) by the definition of `confluence` (and likewise of`diamond`) which you have given. Denoting `~>` the reduction relation, I was expecting a statement of the form:

`forall (L M N:Term), (L ~> M) -> (L ~> N) -> exists (P:Term), (M ~> P) /\ (N ~> P)`

but instead, your definition is (essentially) as follows:

`forall (L M N:Term), exists (P:Ter

[2020-07-06 15:37] iwilare commented on #473
Hello! I've been following this discussion and would like to suggest some improvements that could be made.
I've also proven this lemma as follows:

[code]

However, I would argue that still showing the diamond lemma as an intermediate step is a clearer and easier to understand choice:

[code]

This shows more clearly that the confluent term is precisely M ⁺ with the explicit Takahashi translation

[2020-07-07 20:56] jsiek commented on #488
Dear possientis,

I agree that what you expected is preferable to the later definition you give above.
However, I'm confused because it seems to me that the Confluence chapter already
matches your expectation. For example, here's the statement of confluence at the
bottom of the chapter. Could you clarify where you saw the issue?

confluence : ∀{Γ A} {L M₁ M₂ : Γ ⊢ A}
  → L —↠ M₁
  → L —↠ M₂
    --

[2020-07-07 20:59] jsiek commented on #473
Thanks Andrea, that sounds quite helpful!

[2020-07-08 09:53] possientis commented on #488
Hi Jeremy,

I am looking at the page:
https://plfa.github.io/Lambda/

where I see:

[code]
I cannot see the snippet you are referring to so I am now guessing that the issue has already been corrected and I should not be following that page which is out of date ?

[2020-07-08 09:55] wenkokke commented on #488
Heya @possientis! I think that Jeremy is referring to the [Confluence](https://plfa.github.io/Confluence/) chapter, in which we discuss confluence of the _untyped_ lambda calculus.

[2020-07-08 09:58] possientis commented on #488
ah ok yes I can see it, thank you @wenkokke . So maybe my source is not out of date after all : )
Ok so I was referring to https://plfa.github.io/Lambda/.

[2020-07-08 10:02] wenkokke commented on #488
@wadler: @possientis makes a good point, I think I'll update the pseudo-definitions of confluence and diamond in [Lambda](https://plfa.github.io/Lambda/).

[2020-07-08 10:04] wenkokke commented on #488
@possientis: the section you're referring to *does* mention that the reduction system in question is deterministic, in which case the two definitions for confluence do coincide, since we can pick either M or N for P, and then use determinisim to show that they're equal.

[2020-07-08 10:12] possientis commented on #488
@wenkokke good point, I think is is correct, I could prove equivalence using determinism. Thank you.

[2020-07-08 10:18] wenkokke opened #490 "Definition of ∀"
I don't think we define what exactly ∀ does in the book, which tends to lead to some confusion. We essentially use it whenever it feels appropriate, which I'm fine with, but we should at some point mention that it's literally just syntactic sugar where `∀ T` elaborates to `(T : _)` and `∀ {T}` elaborates to `{T : _}`.

[2020-07-08 10:28] wenkokke opened #491 "Determinism for DeBruijn"
In the chapter DeBruijn, we mention "We omit the proof that reduction is deterministic, since it is tedious and almost identical to the previous proof." However, the previous proof is progress, and the two are not almost identical. The previous chapter states the theorem for determinism, but does not prove it, so it is unlikely that it is this proof that is being referred to either. Did we remove

[2020-07-08 10:51] wadler commented on #491
Chapter Properties contains a proof that reduction is deterministic:
https://plfa.github.io/Properties/#reduction-is-deterministic

[2020-07-08 10:52] wenkokke commented on #491
Ah! Thanks for clearing that up.

[2020-07-08 10:53] #491 closed

[2020-07-13 09:26] possientis commented on #488
Guys, I am very sorry to come back, but I have the feeling that while the existing PR is an improvement, the statement contained within the final text i.e. 'every relation that satisfies the diamond property is confluent' is actually not true.  After trying to prove this for a few days, I did some research online and found:
https://en.wikipedia.org/wiki/Abstract_rewriting_system
It seems to me thi

[2020-07-13 21:56] #488 closed

[2020-07-19 12:53] wenkokke opened #495 "Provisional chapter on subtyping is broken"
The build is currently failing:
[code]
This is probably due to @jsiek using tabs in their editor? I've also noticed that @wadler often commits trailing whitespace. I'm going to work on a git configuration which checks whitespace usage and compilation on commit. Would you all be happy to use this?

[2020-07-19 12:56] #495 closed

[2020-07-20 01:03] jsiek commented on #495
Yes, that would be helpful.

[2020-07-20 11:44] wadler commented on #495
Yes!  -- P

.   \ Philip Wadler, Professor of Theoretical Computer Science,
.   /\ School of Informatics, University of Edinburgh
.  /  \ and Senior Research Fellow, IOHK
. http://homepages.inf.ed.ac.uk/wadler/

On Sun, 19 Jul 2020 at 13:54, Wen Kokke <notifications@github.com> wrote:

The University of Edinburgh is a charitable body, registered in
Scotland, with registration number SC005336.

[2020-07-25 01:02] #473 closed

[2020-07-30 17:35] matthew-healy opened #499 "Quantifiers, Bin-Isomorphism exercise: issue with type of proj₁≡→Can≡"
I've just completed the Bin-Isomorphism exercise at the end of the Quantifiers chapter.

As part of the exercise, it is suggested that the reader proves the following lemma:

[code]

However, having typed up the definitions from the chapter directly, and then this lemma, I get the following on attempting to load the file:

[code]

The error itself makes sense - we've imported `proj₁` from the stan

[2020-08-01 08:02] wadler commented on #499
Thanks, Matthew! Excellent point.

I think the right way to fix this is to introduce proj_1 and proj_2 directly for existentials when they are introduced. As I recall, Wen wanted to reengineer product, unit, and existential to be defined by record first and datatype second (it's currently the other way around), which would fix this automatically. Wen, where are you with this project?

(PS. In revi

[2020-08-01 08:03] wadler commented on #499
Thanks, Matthew! Excellent point.

I think the right way to fix this is to introduce proj_1 and proj_2
directly for existentials when they are introduced. As I recall, Wen wanted
to reengineer product, unit, and existential to be defined by record first
and datatype second (it's currently the other way around), which would fix
this automatically. Wen, where are you with this project?

(PS. In revi

[2020-08-19 17:41] wenkokke opened #503 "Integrate references and BibTeX with build process"
It would be very useful to be able to write citations using BibTeX, and write references using Markdown syntax akin to [pandoc-citeproc](https://github.com/jgm/pandoc-citeproc).

[2020-08-19 17:42] wenkokke commented on #503
The EPUB version would have to be updated as well to use pandoc-citeproc.

[2020-08-19 17:44] wenkokke opened #504 "Add references"
Parts 1 and 2 are rather sparse when it comes to references to the relevant academic papers and further reading.

[2020-08-19 17:47] wenkokke opened #505 "Change spacing policy of PLFA"
Currently, PLFA is written using `auto-fill-mode` enforcing a line-length limit of 80 characters. This is far from ideal for prose, and not at all what we want for Agda code. We should move to a policy _one line_ for every paragraph, which works well with line diffs, and avoids introducing issues such as #498 and #500.

[2020-08-19 17:52] jsiek commented on #505
But there is a major problem with the suggested approach, which is that it is much less readable in Emacs :(

[2020-08-19 17:55] wenkokke commented on #505
For me, the readability isn't really a problem, since Emacs automatically wraps lines after a certain length, and my buffers don't tend to be too wide? However, it does lead to problems for me where the lines get harder to navigate. I think it's worth the trade-off, though: Markdown is generally layout-sensitive, and so, as we've noticed, `auto-fill-mode` can easily introduce rendering errors.

[2020-08-19 17:56] jsiek commented on #505
Nod

[2020-08-19 18:08] wenkokke opened #506 "Run agda/fix-whitespace before commit"
It would be a good idea to add a Git hook which runs Agda's [`fix-whitespace`](https://github.com/agda/fix-whitespace) program to ensure that we can't commit files with any whitespace violations.

[2020-08-19 18:10] wenkokke opened #507 "Run make test before commit"
It would be a good idea to add a Git hook which runs `make test` to make it less likely for us to break the dev branch of the book.

[2020-08-19 20:15] wenkokke commented on #506
Fixed by b5d69ff0104eb7d9f7ab956be894c3bfd49e37ec. I created a task called `make init` which installs the Git hooks: @wadler and @jsiek, please pull and run `make init` in your local copies of PLFA.

[2020-08-19 20:26] wenkokke commented on #507
Fixed by acd3b31a1b8582d055430f0c53cd39420245227d.

[2020-08-19 20:26] #507 closed

[2020-08-19 20:26] #506 closed

[2020-08-22 10:12] jllang opened #509 "Chapter Lambda: Operator missing from Data.String"
I started reading the first chapter (Lambda) of the second part. It seems that my version of `Data.String` doesn't have the operator `_≟_`. I'm using Agda 2.5.4.1.

[2020-08-22 10:16] #509 closed, assigned to nobody

[2020-08-23 09:43] jllang opened #510 "Suggestion for an exercise in chapter Quantifiers"
I think it would be great to have one exercise, where a universal claim is refuted by a concrete counterexample. For example, in exercise `⊎∀-implies-∀⊎`, I answered the second question as follows: First, I defined two properties over booleans, `P₁ b = b ≡ true` and `P₂ b = b ≡ false`. Then, I showed that `¬ ((∀ (x : Bool) → P₁ x ⊎ P₂ x) → (∀ (x : Bool) → P₁ x) ⊎ (∀ (x : Bool) → P₂ x))`. Finally,

[2020-08-24 10:46] juhp opened #511 "Move plfa.agda-lib or plfa/* to src/?"
While looking at Fedora Agda packaging, I started wondering about `plfa.agda-lib`...
(admittedly this is untested so forgive me if I am completely wrong/off the mark here).

`plfa.agda-lib` references `src/` but the library modules actually live in `src/plfa/`.
So I am wondering if it should have `include: src/plfa` instead?
Unless agda is clever enough to look in plfa/ by itself?
Alternatively ma

[2020-08-24 10:59] wenkokke commented on #511
@juhp: No, since all the module names are prefixed with `plfa`, e.g., `plfa.part2.DeBruijn`. I didn't want them to pollute the top-level module namespace.

[2020-08-24 10:59] #511 closed

[2020-08-24 11:09] juhp commented on #511
That makes complete sense, thanks!

[2020-09-09 22:21] mdimjasevic opened #513 "Alternative formalisation of variables via de Bruijn indices"
In chapter "DeBruijn: Intrinsically-typed de Bruijn representation", there is a formalisation of variables `#_` via de Bruijn indices:

[code]

This formalisation relies on postulates to avoid handling the case when a de Bruijn index is out of context bounds. In my view, usage of postulates should be discouraged in the book as postulates in general open room for inconsistency.

Instead, I propose

[2020-09-10 05:38] wenkokke commented on #513
Ahh! This was supposed to have been fixed as part of #409. With the changes in Decidable, this can be more succinctly expressed as:
[code]
Using your definitions for `length`, `lookup`, and `count`, and `True`, `toWitness`, and `≤?` from the chapter Decidable.

[2020-09-10 06:10] mdimjasevic commented on #513
Oh, I forgot to check earlier chapters, but I had a feeling that useful helper functions were already defined! Thank you for pointing them out!

If you're OK with updating the definition of `#_` according to this discussion here, I can make a pull request with the update to the de Bruijn chapter.

[2020-09-10 06:29] wenkokke commented on #513
Updating the definition would require rewriting the text. Furthermore, I seem to recall @wadler specifically wanted to leave this in to have an example of using postulates to define partial functions when it's safe to do so. @wadler?

[2020-09-10 08:53] wadler commented on #513
Wen, I thought we agreed that you would rewrite this along the lines you proposed? I think showing the right way to do it is probably more important than showing the "postulate" technique.

[2020-09-10 08:55] wenkokke commented on #513
I believe you wanted to keep at least one occurance of the `impossible` postulate in a prominent position. However, it may well be that we agreed on a *different* section to keep `impossible`, and I've simply forgotten to update this one. If you agree, I'm happy to rewrite this section to eliminate the use of `impossible`.

[2020-09-15 12:43] plumenator opened #516 ".dir-locals.el doesn't work"
The current .dir-locals.el breaks emacs (v28):

[code]

My understanding is that you can't call functions in .dir-locals.el. It's meant for variables.

[2020-09-15 12:55] plumenator commented on #516
This seems relevant:
https://stackoverflow.com/questions/16237506/wrong-type-argument-listp-eval-after-load-in-dir-locals-el

[2020-09-15 14:43] wenkokke commented on #516
Hm, good point. I'm just gonna go ahead and remove the `.dir-locals.el` file, and leave it to others to configure their emacs.

[2020-09-15 14:47] #516 closed, assigned to nobody

[2020-09-17 14:31] capn-freako opened #517 "False claim of `C-c C-a` usability in Lambda chapter."
At the very end of the _Interacting with Agda_ section of the _Lambda_ chapter of Part 2 of PLFA, it is claimed:

However, when I try this I'm told:

literals yet

[2020-09-25 10:20] wenkokke commented on #505
This was rejected by @wadler.

[2020-09-25 10:20] #505 closed

[2020-10-01 17:18] #106 closed, assigned to nobody

[2020-10-13 12:29] moleike commented on #504
FWIW this would be a very helpful addition for those of us using the book for self-study.

[2020-10-22 08:55] wenkokke opened #538 "Whitespace sensitivity"
@jphmrst adds the following commend to their README for PLFA:

I believe this is indeed very important to mention early on, and the fact that they added it to the README leads me to believe that we do not. If this is not already mentioned in the text, we should add it.

[2020-10-26 16:48] wenkokke commented on #503
Fixed in 396124156b2d4f713a321ebf3404d5d593dd41e6.

[2020-10-26 16:48] #503 closed

[2020-11-20 15:47] xekoukou opened #545 "Turn Γ into a parameter."
https://github.com/plfa/plfa.github.io/blame/dev/src/plfa/part2/DeBruijn.lagda.md#L783

In the Value definition, the context can be a parameter.

[2020-11-20 15:52] wenkokke commented on #545
If you're happy to submit a pull-request updating the definitions of Value in [DeBruijn](https://plfa.github.io/DeBruijn/#24646) and [More](https://plfa.github.io/More/#19190), I'd be happy to merge it!

[2020-12-01 13:14] crisoagf opened #547 "Part 1 - Equality chapter - Proving transitivity using ≡-Reasoning is circular"
Hi! I am having a lot fun reading PLFA and following with the exercises. It's great!

However, while I was reading the Equality chapter something rubbed me the wrong way. ≡-Reasoning is defined, and then the first thing that is done is using ≡-Reasoning to prove transitivity of ≡.
However, ≡-Reasoning requires transitivity, so this could never be the actual definition of `trans`, and in no place i

[2020-12-02 15:51] wadler commented on #547
Good point! Yes, please make a pull request.

[2020-12-03 08:03] crisoagf commented on #547
On it.

[2020-12-04 12:41] crisoagf commented on #547
🎉🎉🎉

[2020-12-04 12:41] #547 closed, assigned to nobody

[2020-12-16 08:49] ShreckYe opened #549 "Am I not supposed to post solutions to the exercises in a public place?"
In the "Exercises" section of [the preface of Software Foundations](https://softwarefoundations.cis.upenn.edu/lf-current/Preface.html) it says:

Is this also true for this book? If so, I think it should be stated somewhere obvious in this book too, because I myself created a public GitHub repository to store my solutions when I started learning this book (now it's made private) and I can find some

[2020-12-22 18:32] wadler commented on #549
Good point. Added this line to the end of the preface.

[2020-12-22 19:59] wadler commented on #549
Thanks! I added the suggested line to the end of the preface.

[2020-12-23 19:46] wadler commented on #538
Yes, we should!

[2020-12-24 16:29] ajrouvoet commented on #538
Perhaps also add to this that this also applies to operators. Users coming from e.g. Coq are always very confused that combinations of symbols and characters are just one name if not interleaved with whitespace.

[2020-12-30 15:19] #549 closed, assigned to nobody

[2020-12-31 18:18] xekoukou opened #552 "Turn implicit argument into explicit in BigStep.lagda.md"
This is one of the weird things about agda that still confuses me and making it into an explicit argument saves us from thinking about it. (I think that it eagerly tries to find the value of the implicit when we need a lambda instead.)

https://github.com/plfa/plfa.github.io/blame/dev/src/plfa/part2/BigStep.lagda.md#L189
https://github.com/plfa/plfa.github.io/blame/dev/src/plfa/part2/BigStep.lagda

[2021-01-01 15:50] jsiek commented on #552
I’m Ok with making that into an explicit argument. I don’t recall having
a specific reason to make it implicit.

Cheers,
Jeremy

[2021-01-02 00:59] capn-freako commented on #190
#551 may be relevant.

[2021-01-02 01:41] capn-freako commented on #471
@malte-v , would you post the full URL for "assets/fonts/mononoki.woff2", please?
I can't seem to find it.
Thanks!

Ah, found it:
https://github.com/plfa/plfa.github.io/tree/web/public/webfonts

[2021-01-26 18:11] wenkokke commented on #471
mononoki has now been updated: https://github.com/madmalik/mononoki/commit/180457e4456296e39c417116560cfb79f1692dc1

[2021-01-26 18:11] #471 closed

[2021-02-09 14:12] ajrouvoet opened #554 "Standard library setup for PLFA"
The current setup is to ask students to edit their library file.
Has it been considered to instead provide the following `plfa.agda-lib`, so that no manual set up is necessary:

[code]

Or am I missing a downside to this setup?

[2021-02-09 15:55] wadler commented on #554
Good suggestion. Wen, what do you think?

[2021-02-09 16:07] ajrouvoet opened #555 "README.md nats.agda test can fail if created in the root of PLFA"
If you create the suggested `nats.agda` in the root of PLFA or in the root of `standard-library`, then Agda will complain that the module is in the wrong place. Since the guide operates from the root, this is a likely mistake.

[2021-02-09 16:53] ajrouvoet opened #556 "Submodules use ssh urls rather than https"
Students run into the fact that the .gitmodules file uses an ssh url for the standard-library. This requires them to have an SSH identity set up. This might not be the case, for example on windows using WSL.

Would the `https` url not be a better default for the standard-library? Since few/no-one needs push permissions on it anyway?

[2021-02-09 19:28] iblech commented on #554
Also, for setting up the PLFA in the Agdapad, I noticed that plfa works just fine with the current version of the standard library, version 1.5! Perhaps this fact should also be recorded (or was it a mirage?), and people who already have a well-functioning standard library setup can skip checking out their own copy in ./standard-library. :-)

[2021-02-10 16:00] ajrouvoet commented on #555
Other students create the file outside of the project entirely, in which case they (naturally) run into missing libraries.
I'll submit a PR that specifies the location for the file.

[2021-02-11 20:02] ajrouvoet opened #559 "PLFA-in-a-box"
Dear PLFA authors,

For my course I've prepared an Ubuntu virtual machine with stack, Agda 2.6.1.1, latest PLFA, stdlib, and emacs + vscode ready to go. My idea was to publish this to Zenodo. Two questions:

- Is this OK with the PLFA team?
- And if so, do you want to be named as co-authors of this artifact.

[2021-02-12 09:25] wadler commented on #559
Arjen,

Thank you for putting this package together, I'm sure some folk will find
it helpful. As to authorship, I think it is clear that you are the author
of the package and the authors of PLFA are it's authors, and I'm happy to
leave it to you as to the best way to make that clear. It would be bad to
suggest that you were an author of PLFA or that its authors are not. Wen
and Jeremy, what do you

[2021-02-12 10:37] jsiek commented on #559
-Jeremy

I agree

[2021-02-12 10:47] ajrouvoet commented on #559
The artifact can be found at the stable URL https://doi.org/10.5281/zenodo.4527308
If anyone tries it out and has suggestions for improvement, please let me know.

[2021-02-12 10:47] #559 closed, assigned to nobody

[2021-02-18 15:21] marklemay commented on #504
~~https://www.sciencedirect.com/science/article/pii/S0890540185710577 should probably be cited in the confluence section.~~

 never mind I'm bad at reading

[2021-02-22 16:49] jmchapman opened #560 "standard library links 404"
If you click on a definition/import from the standard library in the code you get a 404 error.

E.g., click on  Relation.Binary.PropositionalEquality in https://plfa.github.io/Naturals/.

I think it's nice to link to the 'real' standard library docs but this is the downside I guess, they may move.

By default I think agda generates html for your code and any library code which you can self host.

[2021-02-26 15:36] wadler commented on #560
Yes, we've had an issue for a while that links to the standard library are broken. Wen, what can we do about this?

[2021-08-06 23:24] rudynicolop commented on #556
I second this proposal. The [installation instructions](https://github.com/plfa/plfa.github.io#install-plfa-and-the-agda-standard-library) in the `README.md` are misleading b/c the `https` method does not work and the `ssh` one does. I suggest changing the cloning instructions to reflect this.

[2021-08-12 09:29] fangyi-zhou opened #574 "Subtyping is not displayed in table of contents"
https://github.com/plfa/plfa.github.io/blob/dev/src/plfa/part2/Subtyping.lagda.md

It seems that the previous page (More) directly goes to the next page (Bisimulation), and vice versa. So this chapter is skipped.

[2021-08-24 16:45] laMudri opened #576 "Embedding is a split monomorphism rather than an injection"
In [chapter Isomorphism, section Embedding](https://plfa.github.io/Isomorphism/#embedding), there is the following definition of an *embedding* of `A` into `B`.

[code]

Meanwhile, a standard definition of an *injection* from `A` to `B` would look like:

[code]

Lorenzo Lipparini points out, on Agda Zulip, that `⊥ ↪ ⊤` is inhabited, while `⊥ ≲ ⊤` is not. Given that “embedding” is usually taken to

[2021-08-24 21:00] wenkokke opened #577 "EPUB generation breaks links"
Most links within the EPUB are broken, as `book/lua/single-file-links.lua` rewrites all internal links:
[code]
Links that are covered by Case 2 work, as we generate the correct links for chapter headers via templating in `book/epub.md`.

Unfortunately, links *within* each chapter now need to be prefixed by their canonical chapter link, to be caught by Case 1, which currently isn't happening.

[2021-08-24 21:02] wenkokke commented on #560
Should be fixed once I publish a new version. Don't know how it got the idea we were on version 1.6?

[2021-08-24 21:02] #560 closed, assigned to nobody

[2021-08-24 22:24] wenkokke opened #578 "EPUB fragment identifier is not defined"
EPUBCheck currently returns several "Fragment identifier is not defined" errors. I think these are the broken internal links (#577).

[code]

[2021-08-24 22:26] wenkokke opened #579 "EPUB font cannot be found"
The font is not correctly linked in `epub.css` causing the EPUB to render in a different font:
[code]

[2021-08-24 22:27] wenkokke opened #580 "EPUB attribute "name" not allowed"
Pandoc generates a number of 'name' attributes in places where they are not allowed according to the EPUB3 standard. This results in over a hundred of the following errors:
[code]
Run `make epub-test` to get the full list.

[2021-08-24 22:29] wenkokke commented on #577
The following warnings emitted by Pandoc during EPUB generation are also due to the broken links:
[code]
There are sections called 'Confluence' and 'Substitution' and chapters whose titles (without subtitle) are the same.

[2021-08-24 22:36] wenkokke commented on #577
This can probably be fixed with a minor Lua filter, which walks the document, and notes down the identifier of any level 2 headers (chapter headers) and then prefixes all headers with level <2 with that identifier and a hypen.

[2021-08-24 22:40] wenkokke opened #581 "PDF code overflows margins"
In several places in the generated PDF, the code overflows the right margins of the code block and even the page. For instance, on page ix:
![Screenshot 2021-08-24 at 23 38 46](https://user-images.githubusercontent.com/3983973/130699197-21da2142-34d4-4d5d-8bf5-b7f92aacdde9.png)

[2021-08-25 13:20] wenkokke commented on #576
That's a great point. @wadler, what do you think we should do?

[2021-08-25 13:40] wenkokke commented on #554
I think this may result in errors if the student has an installation of the standard library on their system, which is listed in the defaults?

[2021-08-25 14:06] ajrouvoet commented on #554
The documentation reads as if the defaults are only used if no explicit `.agda-lib` file is found.

[code]

https://agda.readthedocs.io/en/v2.6.1.1/tools/package-system.html#default-libraries

[2021-08-25 17:55] wadler commented on #576
I called it an embedding because one often refers to embedding/projection pairs, which is exactly what to and from form.

The point that ⊥ ↪ ⊤ is inhabited, while ⊥ ≲ ⊤ is not is a good one, and perhaps should be added to the text. Would you like to file a pull request to do that?

I'd rather not use the terminology epimorphism/split epimorphism/monomorphism in the text, as it may needlessly scare

[2021-08-25 19:00] wenkokke commented on #576
@wadler Maybe we should add the phrase "embedding/projection pair" to the text explicitly? As well as the warning that embedding often refers to an injection, and this is a stronger notion?

[2021-08-25 19:04] wenkokke commented on #554
That helps, but I'm still a little worried what would happen if the students moved the exercises elsewhere, say out of the PLFA directory. We've frequently had students just download the solitary exercise files from the website, or even just copy-paste it into a fresh buffer. That works when your global install is properly setup, including a properly setup defaults file. However, it fails when we

[2021-08-25 20:25] ajrouvoet commented on #554
That is a fair point. If it comes down to this point vs. the least number of manual steps in the setup I personally tend towards the latter. Perhaps because 20% of students will simply overlook the instruction. There were also a lot of students using Windows that had trouble with paths.

Perhaps, although it may be wishful thinking that any setup knowledge will stick while students are just trying

[2021-08-26 02:28] lfrestrepog opened #582 "Fonts in code blocks are not rendered correctly"
This is probably related to issue #579

The fonts in code block no longer render correctly in several web browsers. It seems the computed font-family in the final css has an incorrect font. Tested with firefox and microsoft edge.

Here's what I believe to be the relevant parts of the css:
[code]

and

[code]

I'm not familiar with the site generation tooling in use, but it should be something easy

[2021-08-26 17:52] wrvsrx opened #583 "Agda meets "Heap exhausted" problem when verifing 2*2=4 (Exercise mul-example) in chapter DeBruijin"
When I do Exercise mul-example in chapter DeBruijin, agda takes minutes to verify following codes (appending them after https://github.com/plfa/plfa.github.io/blob/dev/src/plfa/part2/DeBruijn.lagda.md), and then it says "Heap exhausted".

My agda version is 2.6.2. I don't know if it's becase of agda itself or the implement of `mul`.

Edited. Remove the solution.

[code]

[2021-08-27 11:08] wadler commented on #583
Works fine on my machine, normalising after 37 steps. Maybe your heap is too small?

Please remember not to post solutions to problems in public places.

[2021-08-27 11:08] #583 closed, assigned to nobody

[2021-08-27 13:07] wrvsrx commented on #583
Sorry, I have removed the solution. It passes examination after I expand the heap size to 8G, thanks for your advice!

It seems a bug in agda (https://github.com/agda/agda/issues/4044) causes such huge memory cost and it hasn't been fixed.

[2021-08-27 13:58] wadler commented on #576
Makes sense. (I would do it if "make test" was running, but since it isn't it seems a bit dangerous.)

[2021-08-27 15:33] lorenzo-lipparini opened #584 "part1/List: every parameterised type is claimed covariant"
As it was discussed on [Agda Zulip](https://agda.zulipchat.com/#narrow/stream/259644-newcomers/topic/Plfa.3A.20every.20parameterised.20type.20claimed.20covariant), the following paragraph from [chapter part1/List section Map](https://plfa.github.io/Lists#Map), as currently stated, affirms that all parameterised types are covariant it their parameters:

Since that is not true in general, it may be

[2021-08-27 16:40] wadler commented on #584
Good point. Thank you! I have made the suggested change as a pull request.

How can I get access to the Agda Zulip?

[2021-08-27 16:40] #584 closed, assigned to nobody

[2021-08-27 16:47] lorenzo-lipparini commented on #584
Thank you for the timely response @wadler!

You can use the following link to [sign up for the Agda Zulip](https://agda.zulipchat.com/register/).

[2021-08-28 09:13] lorenzo-lipparini opened #586 "part1/Lists: exercise requires implicit function extentionality, which has not been mentioned"
There is an [exercise in chapter part1/Lists](https://plfa.github.io/Lists/#exercise-all--practice) which appears to be unsolvable without a principle of extensionality for implicit functions, as in the following example:
[code]

In the book it is usually mentioned when an exercise requires extentionality, and it could be appropriate to do the same here, especially because it seems that implicit f

[2021-08-28 10:23] lorenzo-lipparini commented on #586
To expand on the possibility of extending the Isomorphism chapter, the proof that explicit function extensionality implies the implicit version is actually quite compact, but it does rely on the η-rule for functions (which I'm not sure was explicitly mentioned in the book). Also, the fact that Agda eagerly substitues implicit parameters means that the version of the proof with equational reasoning

[2021-08-29 09:31] wadler commented on #586
Good point. It's easy enough to prove extensionality for an implicit function, but it is an unnecessary complication to the problem. I've rewritten to make the implicit argument explicit.

[2021-08-29 09:31] #586 closed, assigned to nobody

[2021-08-29 09:32] wadler commented on #586
P.S. The eta rule for functions appears in chapter Connectives.

[2021-08-30 09:25] lorenzo-lipparini opened #589 "part1/Quantifiers: exercise requires proj₁, which can't be imported nor defined due to conflicts"
[Exercise Bin-isomorphism](https://plfa.github.io/20.07/Quantifiers/#Bin-isomorphism) asks the reader to give evidence for:
[code]
But, when the user attempts the exercise he is faced with an error:
[code]
[code]

This is due to the fact that the current file imports `proj₁` from `Data.Product`, meaning that `proj₁` will work on the Σ type from the stdlib, but not on the Σ type defined in this cha

[2021-08-30 09:54] wadler commented on #589
Thanks for pointing this out. I suggest you write out a full solution to the problem using one of the proposed techniques, and then submit a pull request to modify the problem accordingly. Option 1 may be best, combined with option 3 to warn the user of the problem. You should also file your solution in our solutions repository, https://github.com/wadler/plfa-answers; send a request for access and

[2021-08-30 14:25] lorenzo-lipparini commented on #589
Thanks @wadler, I'll be happy to work on this in the next days.

Where should I send the request to access the repository with the solutions? Is there a form to fill in or something similar?
It seems the link above will return a 404 until I get access rights.

[2021-09-01 18:34] JacquesCarette opened #591 "Current HTML output looks horrible (on Windows)"
As of Sep. 1, this is what I get if I head over to [https://plfa.github.io/Naturals/](https://plfa.github.io/Naturals/):
![image](https://user-images.githubusercontent.com/1855141/131724475-be3932be-7134-477c-b8e2-8f27b2a4ff16.png)

as rendered by Firefox 91.0.2 on Windows. I get pretty much the same thing with Chrome on Windows.

On the other hand, it looks quite reasonable on Chrome on my MacBoo

[2021-09-01 19:25] wenkokke commented on #582
I'm guessing this has something to do with the "DejaVu mononoki Symbola Droid" font? I don't know enough about fonts to figure out what's wrong with it, though... @Altariarite, do you know what's going on?

[2021-09-01 19:26] wenkokke commented on #591
Whoa, that's... *very* special... gotta say, I kinda like it? But on the other hand, I'd like PLFA to be a usable resource, not an art project. I'm guessing this has to do with the custom we're using, @Altariarite?

[2021-09-01 19:26] wenkokke commented on #591
Duplicate of #582.

[2021-09-01 19:27] wenkokke commented on #582
Closed as a duplicate of #591, as that one has a screen shot. @lfrestrepog, could you confirm if that's the output you're seeing as well?

[2021-09-01 19:27] #582 closed, assigned to nobody

[2021-09-01 23:25] Altariarite commented on #591
Whoa, that looks funky. I think the custom font is at fault here, though I am not sure why... For example, all characters in "zero" should be coming from the same font (which is mononoki), so I am not sure at the moment why they end up in different sizes.

[2021-09-01 23:27] Altariarite commented on #591
Hi Wen,
I am on vacation without a Windows computer at hand. I will be back in
Edinburgh on 6th Sep. Do you think it is best that we roll back the change
for the moment?

Sorry for the trouble caused!

Best,
Yuanting

On Wed, 1 Sep 2021, 20:26 Wen Kokke, ***@***.***> wrote:

[2021-09-02 12:00] wadler commented on #591
Thanks for raising this issue. I hope we can track and fix, but Wen is the expert here.

[2021-09-02 17:50] Beal8 opened #593 "Can't compile Data.Nat.Base on Windows"
Hello,
I'm trying to install agda and plfa on Windows. I tried to compile a file like this :

[code]
I run `agda -v 2 myfile.agda` and get this error :
`[Data.Nat.Base._+C:\Users\USERNAME\agda\plfa\standard-library\src\Data\Nat\Base.agda:74,1-76,26
<stdout>: commitBuffer: invalid argument (invalid character)`

Does anyone see how to fix this ?

[2021-09-02 18:04] Beal8 commented on #593
I restarted the terminal everything's fine now. Sorry for the issue opening

[2021-09-02 18:04] #593 closed, assigned to nobody

[2021-09-02 19:44] Beal8 commented on #591
On my local copy I removed everywhere the 'DejaVu mononoki Symbola Droid' font from the style.css file and everything is okay now if it can help

[2021-09-04 10:18] fangyi-zhou commented on #591
https://fangyi.io/plfa.github.io/Fonts/
https://fangyi.io/plfa.github.io/Naturals/

Could you check whether this page renders correctly on your end?

[2021-09-04 10:21] fangyi-zhou commented on #591
Disclaimer: I'm not a font magician, but I tried to merge Dejavu, mononoki and Symbola (without Droid), and it is somewhat fine on Windows (tested on my own machine). However, some additional tweaking is required since some symbols are no longer in the correct width, e.g. ℓ, ⦂, ⨆, 〔.

[2021-09-04 10:55] JacquesCarette commented on #591
The Naturals page looks great. The Fonts page looks 'as expected' from the comments.

[2021-09-04 16:12] lfrestrepog commented on #582
Yes, that's correct.

[2021-09-06 11:59] wenkokke commented on #593
If you do ever figure out what happened, please let us know! It looks like some sort of unicode error?

[2021-09-07 09:02] lorenzo-lipparini opened #594 "part2/Properties: mention that Canonical N ⦂ A ≃ Value N × ∅ ⊢ N ⦂ A"
[Chapter part2/Properties introduces canonical forms](https://plfa.github.io/Properties/#canonical-forms); it is immediately mentioned how those represent well-typed closed values, with a proof of the equivalence split up into three distinct functions.

It turns out that this correspondence can be extended to an isomorphism: `Canonical N ⦂ A ≃ Value N × ∅ ⊢ N ⦂ A`.
Since the book points out isomor

[2021-09-07 09:10] lorenzo-lipparini commented on #594
Another doubt I have which is tangentially related is about the use of the `canonical` function in the proof of [progress](https://plfa.github.io/Properties#progress): is there a particular reason to use that function, given that pattern matching on the `Value` returned by the recursive call to `progress` would be enough, and actually spare a nested with abstraction?

The code without using `canon

[2021-09-07 10:32] Altariarite commented on #591
@fangyi-zhou The reason these symbols are no longer in the correct width is: the fonts (Dejavu, mononoki, Symbola) are all in different widths.

ℓ and ⦂ are from mononoki, ⨆ is from Symbola, and Droid was included for 〔, which is a CJK symbol (in this case where you doesn't include Droid, I believe the operating system is picking a fallback font to display the symbol).

The original buggy font was

[2021-09-07 10:57] fangyi-zhou commented on #591
I used FontForge on windows, and I didn't change the width of fonts because I was doing a quick hack. I'll investigate a bit more when I have time.

[2021-09-09 15:31] wadler commented on #594
Nice observation regarding the isomorphism. Please prove it and enter the answer into the answers repository, then edit the chapter accordingly with proof of the isomorphism added as an exercise. (I'd be reluctant to state it is an isomorphism unless someone actually proved it.)

Regarding progress, did you run that code? When I omit the call to canonical from the code in the book it yields a type

[2021-09-09 16:17] lorenzo-lipparini commented on #594
Thanks for the response @wadler.

About the isomorphism, I'd be happy to contribute with a solution, but I still don't have access answers repository, and neither do I know where to ask for it 😅.

Regarding progress, I did type-check the code on my setup; one thing to note is that I didn't just omit the call to the `canonical` lemma, but I also explicitly pattern matched on the evidence that some

[2021-09-10 22:16] lorenzo-lipparini commented on #594
@wadler I am now running Agda version 2.6.1.3, which is the one suggested for the book, and the implementation of `progress` from above still type-checks.

[2021-09-20 14:42] wenkokke commented on #591
Can someone confirm this is fixed? @JacquesCarette?

[2021-09-20 14:44] fangyi-zhou commented on #591
I didn’t submit a patch for the font. I hosted my own instance for a quick preview.

Fangyi

— sent from a mobile device, apologies for typos

[2021-09-20 14:56] Beal8 commented on #591
I just checked on a windows machine and everything was fine.

[2021-09-20 14:57] JacquesCarette commented on #591
When I now got to the page in the original problem (and like pages), they look good for me.

[2021-09-23 19:40] wenkokke commented on #591
Yes, I used a different fix for the font provided by @leahneukirchen. Thanks, Leah!

[2021-09-23 21:11] leahneukirchen commented on #591
Oh, good that worked out. :D

[2021-09-24 09:30] fangyi-zhou commented on #591
Ah, sorry I didn't see a fix being pushed to `web` branch. I'll cherry-pick that commit to the Chinese version later.

[2021-09-24 18:45] wadler commented on #594
Cool! You are absolutely right. I thought canonical forms was essential, but it is not. I have simplified the proof along the lines you suggest, deleted the section on canonical forms, and added an exercise that defines canonical forms and asks the reader to show that being a canonical form is isomorphic to being well-typed and a value.

I've also invited you to plfa-answers. Thank you!

[2021-09-24 18:52] #594 closed, assigned to wadler

[2021-09-26 21:00] lorenzo-lipparini commented on #594
Thanks @wenkokke for reopening the issue, and thanks @wadler for your response. I'll be happy to submit a solution to the new exercise later this week.

@wadler I am happy with all the changes you have implemented, but I'm worried that a little problem may have gone unnoticed: canonical forms and the proof of `progress` happen to be mentioned in the next chapter of book (possibly even in later one

[2021-09-28 21:59] wenkokke commented on #594
Ah, yes, that should perhaps be automagically generated.

[2021-10-08 14:23] #591 closed, assigned to nobody

[2021-10-29 01:39] ulysses4ever opened #611 "Induction: no import of _^_ and "Your code goes here" resp. exercise"
There is an exercise about exponentiation but if I attempt it, I see that `_^_` is not known. This can be fixed by adding the operator to the import statement:

https://github.com/plfa/plfa.github.io/blob/f5b25b9c847abdd7dd901aa383adc06515a1c6de/src/plfa/part1/Induction.lagda.md?plain=1#L32

I understand that it's an oversight, not a lesson in teaching imports? Because the text doesn't say a word

[2021-10-29 10:00] wadler commented on #611
Regarding import, "A word on the exercises" states "You may need to import library functions required for the solution."

Regarding the missing "-- Your code goes here", please file a pull request.

[2021-10-29 10:00] #611 closed, assigned to nobody

[2021-10-29 21:13] ulysses4ever commented on #611
@wadler thanks! here's the pr:  #612.

[2021-11-07 00:55] ulysses4ever opened #613 "Induction: can't import Naturals.Bin/from/to due to builtin pragmas there"
I approach the Bin-laws exercise in `Induction.lagda.md`, and for that I need definitions from `Naturals.lagda.md`. I add

[code]

to the end of the imports list of `Induction.lagda.md` and, surprisingly, get the error:

[code]

My understanding of the problem is that the `builtin` pragmas in Naturals don't respect module boundaries. How am I supposed to fix it? One way is to eliminate all imports

[2021-11-07 18:31] wadler commented on #613
Another way to deal with it is to copy the definitions of Bin, to, from in Naturals to Induction.

[2021-11-07 18:31] #613 closed, assigned to nobody

[2021-11-08 13:52] ulysses4ever commented on #613
But copying code is considered bad, isn't it? Maybe it'd be better to replace the imports from Data Nats in the book, so people don't stubble upon it in the future?

[2021-11-12 07:15] ShreckYe opened #615 "Inference.lagda.md doesn't load"
I got the following error when trying to load "src/plfa/part2/Inference.lagda.md":

[code]
It seems to be casused by `¬_` having higher precedence than `∃-syntax` and parentheses should be added.

[2021-11-13 15:15] wadler commented on #615
I don't get the problem you report when loading on my machine. Do you have the version of Agda specified in "Getting Started"?

[2021-11-14 03:11] ShreckYe commented on #615
Sorry about this. I just checked and I do have a different version of Agda. I have the latest Agda version 2.6.2, which is different from 2.6.1.3 specified in "Getting Started". My stdlib version is v1.6 as specified.

[2021-11-15 16:25] #581 closed, assigned to nobody

[2021-11-19 10:24] ShreckYe opened #618 "Should the Y combinator be pointed out in Untyped?"
Should it be pointed out that the defined fixpoint in Untyped is well-known as the Y combinator, discovered by Haskell Curry? I learned about this the first time as the Y combinator. Such information might be helpful to learners but is now missing.

[2021-11-19 11:08] wadler commented on #618
Good point. Please submit a pull request. Include a suitable citation.

[2021-11-20 17:59] wenkokke commented on #615
@ShreckYe Can you confirm this is resolved after switching to the correct Agda version?

[2021-11-21 11:52] ShreckYe commented on #618
Thank you Dr. Wadler. I submitted a pull request. In the changes, I included a markdown link to the Wikipedia page, though I am not sure whether this is the correct citation format for this book.

[2021-11-21 11:57] ShreckYe commented on #615
OK. I switched back to 2.6.1.3 and the problem is still there. I installed Agda using Cabal. Can this be why it happens?

[2021-11-21 13:18] wenkokke commented on #615
I think I remember fixing a bunch of problems just like this a long time ago, when trying to upgrade to the most recent version of Agda. I think something did change in the standard library.

Apologies, the book is in a slight state of disrepair because I’ve been dealing with carpal tunnel for the past half year. In the meantime you can fix it locally by simply changing the parentheses.

[2021-12-13 09:58] ShreckYe opened #627 "Inconsistent `𝕍-sub`s and `sub-𝕍`s, and `𝔼-sub`s and `sub-𝔼`s in Adequacy"
Currently, in Adequacy, there are `𝕍-sub`s and `𝔼-sub`s in the text and `sub-𝕍`s and `sub-𝔼`s in the code, which are inconsistent.

[2022-03-13 01:14] conal opened #633 "Build fail with icu4c on Mac M1"
I am trying and failing to build PLFA from an up-to-date local repo clone on my MacBook Pro with M1 running MacOS Monterey (12.2.1) and using Homebrew for various utilities. Is this configuration expected to work?

The build derails at the `icu4c` library (installed via Homebrew), which I think is used in the text-icu Haskell library. The error messages suggest inconsistent expectations about x86

[2022-03-13 10:43] wenkokke commented on #633
Does Agda compile on M1? ICU4C is an Agda dependency as well, so if that compiles, just replace the `text-icu` dependency with whatever more recent version Agda uses.

[2022-03-13 10:46] wenkokke commented on #633
It looks like they have moved onto version 0.8.

[2022-03-14 00:27] conal commented on #633
Yes, Agda compiles fine on my M1.

[2022-03-14 00:35] conal commented on #633
I uninstalled arm64 Homebrew and installed from scratch. No help. I made a second Homebrew installation for x86 emulation, installed `icu4c` there, and tried building PLFA again (with and without prefixing `make` with `arch -x86_64`). Still stuck.

[2022-03-15 12:58] lengyijun opened #634 "Any plan to upgrade Agda?"
If a pr of Agda 2.6.2.1 is welcome ?

[2022-03-17 11:16] wadler commented on #634
We are a little slower than usual at updating, because Wen currently has difficulty using a keyboard. But I am sure we will update at some point, so such a pr would be extremely helpful. Thank you for the offer!

[2022-03-18 16:19] wenkokke commented on #633
Could you try forcing the text-icu version to >=0.8?

[2022-03-18 16:23] wenkokke commented on #634
I am currently away with carpal tunnel, but I have a branch on which I’ve been working to port the code over to 2.6.2. The main problem is that Agda broke their library API moving to this version.

[2022-03-18 16:23] wenkokke commented on #634
You are free to submit for requests to the ~~shake~~ shoggoth branch, as I am planning to merge this once it’s building correctly.

[2022-03-18 19:28] conal commented on #633
I get the same results when I replace
[code]

by

[code]

in `stack.yaml`:
[code]

[2022-03-18 20:29] wenkokke commented on #633
Might be a problem with text-regex-replace, then, which I think Agda doesn’t use…

[2022-03-18 20:29] wenkokke commented on #633
I am in the process of writing this library out of the build process but I’m not done yet and have been out of the running for a while…

[2022-03-19 02:38] lengyijun opened #635 "standard-library version: 1.3 or 1.6 ?"
In Readme :
`git clone https://github.com/agda/agda-stdlib.git --branch v1.6 --depth 1 agda-stdlib  `

But if we use
` git clone --depth 1 --recurse-submodules --shallow-submodules https://github.com/plfa/plfa.github.io plfa`
It will switch to 1.3.

[2022-03-19 06:24] wadler commented on #635
Thanks. Wen will need to comment, it may take her a while to get around to it.

[2022-03-28 04:56] L-TChen opened #638 "Simplifying congruence proofs in Substitution"
As commented by @jsiek

congruence proofs are not really necessary if we annotate the equality with a type of terms explicitly. For example, instead of
[code]
we should write
[code]
so that `cong` can be applied to prove the statement without using the induction principle again.

Agda inserts metavariables for implicit variables which appears before the first explicit variable automatically. So, t

[2022-03-28 10:09] wenkokke commented on #638
Unfortunately, that’s tragically unreadable. Perhaps we could define an `_≡[_]_` operator with explicit type information?

[2022-03-28 10:30] L-TChen commented on #638
Or maybe a new syntax?

[code]

But the use of the symbol `⦂` might be confusing.

[2022-03-29 18:34] jsiek commented on #638
It would be helpful to see an example of how this would change the proofs that currently use the congruence rules, such as the proof of `rename-subst-ren`.

[2022-03-30 07:42] L-TChen commented on #638
All proofs including `rename-subst-ren` until `compose-rename` remain the same after simplified congruence rules.
(I haven't checked carefully what happens to `compose-rename` and remaining proofs.)

Some tweaks are needed though. For example, consider the following definitions using `Rename`:

* The type of `ext` needs to be changed from
[code]
to
[code]
where the variable `B` is moved before the

[2022-04-02 16:53] Boarders opened #639 "Inefficiency due to use of old equational reasoning syntax"
At the end of the Debruijn chapter there is an exercise:
[code]
I am unsure if you had something clever in mind, but using the same brute force techniques as the examples show seems to not work. For example, I get the following (apologies, I used my own notation but  I hope it can still easily be followed:
[code]
At this point typechecking this file takes longer than ten minutes on my laptop (I ab

[2022-04-03 11:45] wenkokke commented on #639
They may be a regression in Agda? @gallais?

[2022-04-03 11:45] wenkokke commented on #639
@Boarders What version of Agda are you using?

[2022-04-03 13:35] Boarders commented on #639
I am using version 2.6.2.1 and here is a full gist: https://gist.github.com/Boarders/035ec1e0734d34c69ab4277de5d4ff32
The relevant bit of code is at the bottom of the file and currently commented out.

[2022-04-03 14:06] wadler commented on #639
I tried it and it completed on my machine with no difficulties, within under a second.

[2022-04-03 14:06] wadler commented on #639
Using Agda version 2.6.1.1-fce01db

[2022-04-03 20:26] andreasabel commented on #639
It does take a bit, but less than a minute on my 2016 macBook.  Probably you lack main memory, because `agda-2.6.2.2` has swallowed 3.85 GB (on the System Monitor) when it reaches the state with the three goals.
To be fair, the first goal (`?0`) is 3600 lines long (in staircase form)...
If I show the goal normalized (`C-u C-u C-c C-,`) it is suddenly tiny (30 lines, staircase code).

It is not unp

[2022-04-03 21:37] andreasabel commented on #639
Not a regression, according to my investigation.  The behaviour is roughly the same since Agda 2.5.4.

[2022-04-03 21:38] gallais commented on #639
Thanks for the investigation Andreas, I had no idea where to start!

[2022-04-04 11:37] wenkokke commented on #639
The problem seems to be https://github.com/agda/agda-stdlib/issues/622!
Thanks @andreasabel and @gallais!

@wadler We should rewrite our reasoning primitives along these lines, I think?

[2022-04-04 12:34] Boarders commented on #639
@wenkokke fantastic! Making this change:
[code]
makes typechecking happen in under 10 seconds.

[2022-04-05 17:44] wenkokke commented on #639
I suppose this change should eventually make it into the book. I think we currently have a tiny bit of text explaining the discongruence between our reasoning syntax definitions and those of the standard library, which should perhaps be expanded.

[2022-04-05 17:46] wenkokke commented on #639
@Boarders Could you check what happens when you try to regenerate the proof while you have this definition in scope? If it generates the proof with the step variant, it’s a no-go. However, we may be able to fix that using a display pragma.

[2022-04-09 20:28] jsiek commented on #638
Which Chapters of PLFA would these proposed changes impact?

[2022-04-11 06:52] L-TChen commented on #638
Substitution and the chapter on Intrinsically-typed de Bruijn representation, I think.

It shouldn't be a bad idea to introduce `Rename` and `Subst` much earlier to clarify the types of operations on terms.

[2022-04-11 18:47] jsiek commented on #638
Instead of `DeBruijn`, it looks like `Untyped` would need to change. But then there's the question of whether we'd want to let these chapters be slightly out of sync with the rest of the chapters which define there own `ext`. Let's see how many of those there are... `More`, `Properties`, and `Subtyping`. That's not so many. I suppose I'd be OK with all of them being changed.

I wonder how @wenkokk

[2022-04-12 06:02] L-TChen commented on #638
Fair enough. Perhaps I need to really make a PR for evaluation. That will take some time, though ...

[2022-05-13 04:22] GetContented commented on #555
This also happens when checking if Agda is installed properly, as the instructions guide us to do. It fails for the same reason, obviously.

IMO, the instructions should guide us, instead, to add the files to the `src` folder. It's what the error suggests we do, and it works well.

The following is the error given, if it helps.

[code]

[2022-05-13 04:26] GetContented commented on #554
Whatever is done, it would be nice if the "golden path" worked well.

[2022-05-13 04:30] GetContented opened #641 "Commendation on source linking"
I realise this is not a normalised way to applaud anything, but given github don't have such affordances, I'll use this issue tracker to do such.

I really appreciate that the `source` is directly linked on every page. This invitation for the public to support and aide in the development process is sorely lacking in most projects. Well done!

Feel free to close this issue once you've given yoursel

[2022-05-13 05:17] GetContented opened #642 "Beginning (checking exercises)"
Perhaps I've missed it, but at the very beginning it would be useful to have an explanation of how one should get agda to check one's work as one goes.

Below is what I tried, which seems tedious (because it takes a while to compile - but it seems perhaps this is only the first time). In the place of having something faster, it will do.

So, the first exercise is "seven" whereby one describes a de

[2022-05-13 05:46] GetContented opened #643 "Confusing paragraph at beginning of Naturals (teaching via examples)"
Context: In the beginning section on the Naturals where we "unpack the inference rules" at  https://github.com/plfa/plfa.github.io/blob/dev/src/plfa/part1/Naturals.lagda.md#unpacking-the-inference-rules at version on the date of this issue, with sha https://github.com/plfa/plfa.github.io/commit/45d74c7af42e90fc7fd68c8a414b699d6f32c763

The section reads as follows:

The trouble here is that we're

[2022-05-16 12:57] wadler commented on #641
It's a pleasure to receive compliments such as this one. Thank you! Pat yourself on the back for taking the time to give a compliment---people do so too rarely.

[2022-05-16 12:57] #641 closed, assigned to nobody

[2022-05-16 13:06] wadler commented on #642
Good point. I've added the following text to the exercise. Will that do?

You will need to give both a type signature and definition for the
variable `seven`. Type `C-c C-l` in Emacs to instruct Agda to re-load.

[2022-05-16 13:09] wadler commented on #643
Thanks for the suggestion. While often it helps to have more examples, sometimes it is a distraction. Here I think it is better to develop the one example (Naturals, plus, time) in sequence, rather than to delay at this point to include more examples.

[2022-05-16 13:09] #643 closed, assigned to nobody

[2022-05-16 13:42] GetContented commented on #642
Yeah, I think that's excellent. Thanks.

[2022-05-16 13:57] GetContented commented on #643
Ok. Maybe a better way fo me to say this might have been that it's not clear what inference rules are, what their syntax is, or what they're for. (It doesn't seem to be something for the computer at the point where they're introduced, and it's unclear why the reader should care about them).

At this point in the text, I'm just putting inference rules on the shelf and waiting to see what the text d

[2022-05-17 15:28] GetContented opened #644 "agda-mode compile not working (macOS 11.6.5)"
I was using VScode but the plugin didn't seem to let me do case splitting, so I thought I'd switch to native emacs, or aquamacs. I ran `agda-mode setup` just fine, but `agda-mode compile` didn't work so well:

[code]

[2022-05-17 16:26] wenkokke commented on #644
It might be best to report this at [agda/agda](https://github.com/agda/agda/issues), rather than here?

[2022-05-17 16:26] #644 closed, assigned to nobody

[2022-05-17 16:27] wenkokke commented on #635
I believe it should be 1.6, but if either works, that should be fine as well.

We're planning to upgrade shortly either way, and this'll be fixed in the process.

[2022-05-17 18:24] wenkokke opened #645 "Deprecate PLFA mailing lists in favour of stream on the Agda Zulip"

[2022-05-17 18:29] wenkokke opened #646 "Write section on how to contribute to PLFA"
Suggested workflow:

1. Open an issue describing the proposed contribution;
2. Discuss proposal with existing contributors;
3. Create pull request for contribution;
4. Publish contribution with `draft` tag, which labels the chapters as _“Under construction”_;
5. Merge pull request, removing the `draft` tag;
6. Add contributor information to author list.

Technical questions:

- Can we automaticall

[2022-05-17 18:30] wenkokke opened #647 "Create part for in-progress and unincorporated chapters"

[2022-05-18 09:18] GetContented commented on #644
Ok, will do. As a complete noob with Emacs, I didn't realise it was part of Agda and not part of this course.

[2022-05-18 10:10] andreasabel commented on #644
This is reported against Agda 2.6.1.3, but I have reasons to suspect this is fixed by Agda 2.6.2.

[2022-05-18 15:22] GetContented commented on #644
As @andreasabel suggests, it's reported against 2.6.1.3, but that's because the book recommends we lock to that version. I'll try using the later version, but I guess I'm a little worried the book won't be appropriate to that version anymore. :(

[2022-05-18 18:17] andreasabel commented on #644
@GetContented Please let us know how it goes!

[2022-05-18 22:14] wenkokke commented on #644
The book won’t yet compile with 2.6.2, unfortunately. There was a major breaking change between 2.6.1.x and 2.6.2 which we’ve not yet adapted to.

[2022-05-19 00:57] GetContented commented on #644
It does solve the issue @andreasabel — I can now load and typecheck files in the emac v27.2 that's built into my OS. Acquamacs (the editor suggested by the book) seems not to be working, though, (it's not typechecking) but that might just be my lack of familiarity with it, so the issue with agda & agda mode is sort of solved, even though as wenhokke relays, we can't use 2.6.2.

Thankfully most of

[2022-05-19 14:01] andreasabel opened #649 "Catch up with the Haskell ecosystem, fix CI"
I noticed that the current CI does not work.  CI hangs at the stack build of `basement`, which is a dependency of `pandoc` that is no longer needed in the latest releases of `pandoc`, starting 2.16.  However, `pandoc-citeproc`, which is a dead end by now, requires `pandoc < 2.15`.

Maybe progress could be made by getting rid of `pandoc-citeproc`, used here:
https://github.com/plfa/plfa.github.io/b

[2022-05-19 15:40] wadler commented on #649
Thanks, Andreas. Wen is in charge of CI. She's had problems maintaining it because of RSI, and I expect would be glad to have assistance.

[2022-05-20 00:52] #642 closed, assigned to nobody

[2022-05-20 00:55] GetContented opened #650 "Describe need for step-≡ constructor in equational reasoning syntax"
https://github.com/plfa/plfa.github.io/blob/dev/src/plfa/part1/Induction.lagda.md

It isn't clear that `step-≡` within the following line is what imports what is being referred to as `_≡⟨_⟩_` in the rest of the text:

[code]

[2022-05-20 12:56] wadler commented on #650
I agree, it's not clear. How would you rewrite to make it clearer? If you submit a pull request I will consider it. I didn't explain more when I wrote it because I considered it a diversion, but clearly omitting an explanation got in the way of at least one reader, so I would consider new wording.

[2022-05-20 14:33] GetContented commented on #650
Apologies. I would ordinarily try to be more constructive and make a suggestion, but as I'm learning Agda from this material, I didn't actually understand what relationship `step-≡` had to `_≡⟨_⟩_` enough to hazard a guess until just now when I looked it up and realised Agda has an ability to add additional syntaxes for operators.

I'll try to put a PR up soonish. Not sure it'll hit the right note

[2022-05-20 15:18] GetContented commented on #650
Added PR at https://github.com/plfa/plfa.github.io/pull/651 @wadler

[2022-05-22 06:47] andreasabel commented on #644
@wenkokke

It would be good to have an issue keeping a TODO list for migration to Agda 2.6.2.

[2022-05-22 07:53] andreasabel commented on #649
I put a draft PR at
- #652

[2022-05-24 04:09] GetContented opened #653 "Rearrangement corollary flipped association on +-assoc"
The section entitled "Our first corollary" includes the following sentence:

However, it _seems_ to be that it's the opposite. That is, it takes `(n + p) + q` which has left-assocatied parenthicization and shifts it to be right-associated parenthesization in `n + (p + q)`. I realise that mathematics has no preference as to which side to read first (assuming I've understood the ≡ operator here — as

[2022-05-24 04:16] GetContented commented on #653
This brings up an interesting point I've been pondering for the last few days. This is the second chapter and we haven't had a definition yet for what ≡ means; in fact, quite a few of the operators remain unexplained. Is this becuase we would expect the curious to go on a journey to discover these items in the agda docs themselves, or we're going for an intuition-first approach here, or because th

[2022-05-24 12:40] wadler commented on #653
Thanks. It should indeed be left-to-right, not the inverse. I've fixed the text. (Fixes aren't showing up online just now, but will soon.)

When equality and related operations are first imported in Chapter Naturals, the reader is told "We take these as givens for now, but will see how they are defined in Chapter [Equality](https://plfa.inf.ed.ac.uk/Equality/)."

[2022-05-24 12:49] GetContented commented on #653
Good to know. Thanks for fixing. I'll close this issue then.

Oh excellent, thanks for the reminder. Apologies for asking again.

[2022-05-24 12:49] #653 closed, assigned to nobody

[2022-05-24 13:29] GetContented opened #654 "Some difficulty understanding second proof in induction chapter"
In the section in the induction chapter called "Our second proof: commutativity", under the first lemma, the following line appears:

Perhaps the word we want there might be **prefixing**, or **prepending** not _prefacing_. This isn't a big problem at all, it just stuck out a little.

The main piece that seemed confusing was that it reads as though the "addition of `suc` to both sides of the induc

[2022-05-24 15:55] GetContented opened #655 "Some difficulty understanding associativity with rewrite"
In the section entitled "Associativity with rewrite", it's not easy to understand why we are allowed to simpify with the base and inductive cases somehow automatically, and how the `rewrite` (rule? function?) "knows" to do a match and replace on this transformed version.

Perhaps it's just that it's not clear what `rewrite` is "doing".

In particular, this sentence is baffling:

It feels a _little

[2022-05-24 16:30] wadler commented on #655
Rewrite takes the goal to be proved into another goal. For instance, the goal

    suc ((m + n) + p) ≡ suc (m + (n + p))

when rewritten with assoc m n p becomes

    suc (m + (n + p))  ≡ suc (m + (n + p))

which is proved by refl.

[2022-05-24 16:37] GetContented commented on #655
Oh, what you're trying to say seems to be getting across. (Sorry if I'm being dense here).

Would it be correct to say `rewrite` pattern matches on the LHS of `≡` within the LHS of `=` and replaces the parts it matches with the resultant transformed pattern on the `RHS` of `≡`?

(or, at least, have I captured the gist of the understanding?)

[2022-05-24 16:44] wadler commented on #655
I've rewritten the end of the section in question as follows. Is that clearer?

For the inductive case, we must show:

    (suc m + n) + p ≡ suc m + (n + p)

Simplifying both sides with the inductive case of addition yields the equation:

    suc ((m + n) + p) ≡ suc (m + (n + p))

This is our goal to be proved.  Rewriting by a given equation is
indicated by the keyword `rewrite` followed by a proo

[2022-05-24 16:47] wadler commented on #654
You are very welcome to submit pull requests with improved wording. That's much more helpful (from my point of view) than being asked to rewrite a section!

[2022-05-24 16:47] #654 closed, assigned to nobody

[2022-05-24 16:58] GetContented commented on #655
The bottom half is better than it was, definitely.

It still wasn't clear why we were manually simplifying both sides with the inductive case of addition ourselves and how Agda does this automagically until I actually did all the steps myself, then I realised you're using the term "simplifying" here to mean what I would roughly call "specialising to the case by substitution". (In the same way that

[2022-05-24 17:02] GetContented commented on #655
Both of these descriptions are ~~extremely convoluted~~ and difficult to follow, though, it seems. :(

Sorry, "extremely convoluted" is not a helpful phrase there. The intended meaning is that it's difficult to use these descriptions to pinpoint exactly which of the syntactical transformations they might refer to.

[2022-05-24 17:06] GetContented commented on #655
This sounds a little like it's replacing every literal occurrence, but my understanding is that it's replacing **matches**. Is that right? Gosh this is confusing.

For example... `m ≡ f m` replacing within `a b m ≡ m d m` should result in `(f a) (f b) (f m) ≡ m d m` not in `a b (f m) ≡ m d m` (ie variables are not literals within rewriting)

[2022-05-24 17:19] GetContented commented on #655
It might be useful to explain some more pedestrian examples of rewrites to orient the reader on the basics of it and allow them to triangulate the semantics so that this less-than-trivial example becomes trivial?

I'll revisit this after I've had some time to let my background mind work on it.

[2022-05-24 17:47] GetContented commented on #654
Apologies. I'll certainly try to give it a go.

[2022-06-06 16:35] wenkokke commented on #633
Wait, @conal, did you tell Cabal about the location of icu4c? For example, by putting the following in your `cabal.project.local` or passing them as flags?
[code]
I don’t have an M1, so I can’t test this for myself.

This could be fixed by replacing the uses of text-icu and text-icu-replace with a different, pure Haskell regular expression library.

[2022-06-07 13:47] wenkokke opened #659 "Fix CI & upgrade Agda"
The following still needs to be done to fix the CI & upgrade to the latest Agda and standard library:

- [x] Fix any remaining issues in `make test` on shoggoth branch
- [x] Merge shoggoth branch into dev;
- [ ] Update standard library to version 1.7 and fix any problems that arise
- [x] Update instructions in README:
    + Provide only instructions for the sweet path,
      and link to individual

[2022-06-07 13:49] wenkokke opened #660 "Document how to add a new course in the PLFA codebase"

[2022-06-07 13:50] wenkokke opened #661 "Create a more free-form part of the book for publishing under-construction or standalone chapters"

[2022-06-07 13:51] wenkokke opened #662 "Deprecate mailing lists and create stream for PLFA on the Agda Zulip"

[2022-06-07 13:52] wenkokke opened #663 "Automatically number book parts (rather than as part of their title)"
Currently, the numbers of the book parts are hardcoded as part of their titles. This won’t play well with formats which automatically number sections, such as LaTeX and EPUBs, and is prone to errors.

It would be better to automatically number these parts based on their position in the table of contents, and on whether or not they are part of the main matter… or at the very least extract the numbe

[2022-06-07 13:53] wenkokke opened #664 "Merge appendix into backmatter"

[2022-06-07 13:58] wenkokke opened #665 "Document the build of the book in Contributing"
- [ ] Move `web/CONTRIBUTING.md` to `CONTRIBUTING.md`
- [ ] Describe directory structure:
    + chapters in `src/`
    + courses under `courses/`
    + resources for building website under `web/`
    + resources for building EPUB under `book/epub/`
    + metadata (book title, authors, contributors, table of contents) under `data/`
- [ ] Describe web build process
- [ ] Describe EPUB build process

[2022-06-07 14:14] wenkokke opened #666 "Change "[JGS: ...]" style comments to not be visible in the live version"

[2022-06-09 10:00] wenkokke opened #667 "Release 22.08"
In order to draft a new release, I believe we should fix all the issues tracked by the [22.07](https://github.com/plfa/plfa.github.io/milestone/1) milestone, then release the new version following [the instructions](https://plfa.github.io/Contributing/)—which will become a visible page once the milestone issues have been fixed.

[2022-06-09 10:03] #659 closed, assigned to nobody

[2022-06-09 10:05] wenkokke opened #668 "Upgrade to standard library v1.7"
Set the version tag for the standard library to v1.7…
[code]
…and fix and arising issues in `make build` and `make test`.

[2022-06-09 10:07] wenkokke commented on #666
@jsiek Are these meant to be visible to the reader?

If not, could you please change them to use HTML comment syntax?

[2022-06-09 10:37] wenkokke opened #669 "Create test page for TeX math"
At the moment it is rather hard to find out whether or not math is rendering correctly in of the book, since you would need to remember where TeX math is used.

Perhaps the best way to fix this would be to generalise the font testing page to also include other tests such as math?

[2022-06-09 10:37] wenkokke opened #670 "Switch to using GladTeX"
The current build uses KaTeX.

Would enable compiling to EPUB2, which is more widely supported.

[2022-06-09 10:37] wenkokke opened #671 "Build single self-contained HTML version"
It should be easy to adapt the task that builds the EPUB into a task that generates one massive self-contained HTML file, using Pandoc’s [makeSelfContained](https://hackage.haskell.org/package/pandoc-2.18/docs/Text-Pandoc-SelfContained.html#v:makeSelfContained).

[2022-06-09 10:38] wenkokke opened #672 "Build PDF version"
The current build script no longer builds the PDF. However, it should be easy to adapt the task that builds the EPUB into a task that generates one massive LaTeX file, using the old LaTeX template.

[2022-06-09 10:43] wenkokke opened #673 "Styling issues for Agda code in EPUB"
Currently, Agda code blocks are displayed with set text background colour, which don’t change depending on whether the book is viewed in light or dark mode.

The easiest way to fix this would be to remove the box around code & text and background colours, and only use e.g. bold & oblique fonts for highlighting.

The more advanced way would be to investigate if we can have highlighting conditional

[2022-06-09 12:51] wenkokke commented on #555
@ajrouvoet The library file has been migrated into the `src` directory, which I believe should solve this problem, at least for the case where the students put these files in the project root.

[2022-06-09 12:51] #555 closed, assigned to nobody

[2022-06-09 12:55] wenkokke commented on #649
Fixed in HEAD

[2022-06-09 12:55] #649 closed, assigned to nobody

[2022-06-09 12:55] wenkokke commented on #635
Will be fixed by #668

[2022-06-09 12:55] #635 closed, assigned to nobody

[2022-06-09 12:56] wenkokke commented on #662
Duplicate of #645

[2022-06-09 12:56] #662 closed, assigned to nobody

[2022-06-09 13:18] wenkokke commented on #634
Fixed in HEAD

[2022-06-09 13:18] #634 closed, assigned to nobody

[2022-06-09 13:19] wenkokke opened #674 "Integrate EPUBCheck into CI"
- [x] Call `make test-epubcheck`
- [x] Fix all problems of FATAL and ERROR levels
    - [x] #676
    - [x] …
- [x] Install EPUBCheck as part of the CI workflow
- [x] Call `make test-epubcheck` as part of CI

[2022-06-09 13:19] wenkokke opened #675 "Integrate DAISY Ace into CI"
- [ ] Call `make test-ace`
- [ ] Fix all reported problems
- [ ] Call `make test-ace` as part of CI

Should only be done after #674 is fixed

[2022-06-09 13:26] wenkokke opened #676 "Duplicate IDs"
These usually arise when the names of Agda definitions coincide with the names of headers, e.g., “progress”:

- [x] Prefix IDs in generated Agda HTML with “agda:”
- [x] Prefix IDs generated for headers with “§:”

Furthermore, to fix these issues for single HTML and EPUB builds, we should prefix or ideas with the URL path, e.g, “plfa.part2.Properties:agda:progress”.

[2022-06-09 13:43] #615 closed, assigned to nobody

[2022-06-09 13:43] #577 closed, assigned to nobody

[2022-06-09 13:43] #578 closed, assigned to nobody

[2022-06-09 13:43] #579 closed, assigned to nobody

[2022-06-09 13:43] #580 closed, assigned to nobody

[2022-06-09 13:47] wenkokke opened #677 "Generate previous and next from table of contents"
Currently, The links to the previous and next chapters are hardcoded at the top of each file, and can therefore easily get out of sync with the table of contents.

it would be much better to automatically derive these fields from the table of contents as stored in [data/tableOfContents.yml](data/tableOfContents.yml). The datatypes defined in [Buildfile.Book](tools/Buildfile/Book.hs) would be quite

[2022-06-09 13:50] wenkokke commented on #677
Would fix #574 and prevent it from happening again.

[2022-06-09 13:52] wenkokke commented on #574
@wadler Should this be included in the table of contents? Should it be in the more loosely structured “part 4” suggested in #661?

[2022-06-09 13:53] wenkokke opened #678 "Draft an announcement with the release notes for version 22.07"

[2022-06-09 13:57] wenkokke commented on #647
Duplicate of #661

[2022-06-09 13:57] #647 closed, assigned to nobody

[2022-06-09 13:59] wenkokke opened #679 "Set the CI to publish live versions of the book"
- [x] Run `make test` and fix any errors and warnings
- [x] Uncomment the final task in the CI workflow

[2022-06-09 14:06] wenkokke opened #680 "Resolve inconsistent use of headers"
For screen readers, LaTeX and EPUB, and many other ways to read the book that aren’t simply a live website, it is important that headers are used consistently, i.e., starting at h1 and increasing by one header level at a time.

Our current convention always uses h4 for exercises, which leads to inconsistent increases, often jumping from h2 to h4.

If there’s no current use of h3, we could simply l

[2022-06-09 14:10] wenkokke commented on #665
Consider turning the [Buildfile](tools/Buildfile.hs) into a literate Haskell document.

[2022-06-09 14:17] wenkokke commented on #650
I’m afraid that such a simple fix would still be confusing, but that a complete explanation would break up the flow of the text. I suggest that we acknowledge in the text that something strange is going on, and that `_≡⟨_⟩_` is imported by its alias `step-≡`, and that we link to a separate page which goes into the details of Agda’s syntax macros and why we have to have `step-≡` in the first place.

[2022-06-09 14:21] wenkokke commented on #650
This is related to #639 and #583, and as such I believe we should (1) use the version from the standard library in exercises, and (2) address it in the text as outlined in my comment linked above.

[2022-06-09 14:23] wenkokke commented on #639
We should use the version from the standard library in exercises.

[2022-06-09 14:30] wenkokke commented on #618
To fix:

- [ ] Add “Combinatory Logic by Curry, Feys, and Craig” to the bibliography
- [ ] Cite it in the text, as discussed in #619, see below:

From [_History of Lambda-calculus and Combinatory Logic_](http://www.users.waitrose.com/~hindley/SomePapers_PDFs/2006CarHin,HistlamRp.pdf) by Felice Cardone and J. Roger Hindley:

[2022-06-09 14:33] wenkokke commented on #556
Fixed in 43bdaa94f47eeffdca92f5efe45ecc76476f651f.

[2022-06-09 14:33] #556 closed, assigned to nobody

[2022-06-09 14:34] wenkokke commented on #576
@wadler Tests work again, so you can revisit this issue.

[2022-06-09 14:41] GetContented commented on #650
I think I'll close my PR then. I'm trying to be as helpful as possible, but I'd be more comfortable if someone better versed in this took a run at it.

[2022-06-09 15:11] wenkokke commented on #554
Using this set up, what would happen if a student started working on an assignment somewhere outside of the scope of the PLFA project? I believe that for that common use case we would still have to require them to set up a libraries and a defaults file, in which case the conflict with an existing standard library would suddenly start breaking things…

[2022-06-09 15:12] wenkokke commented on #554
I am closing this issue for now, but feel free to reopen it and comment with any other suggestions that might work well.

[2022-06-09 15:12] #554 closed, assigned to wenkokke

[2022-06-09 15:13] wenkokke commented on #552
@jsiek Have you made the suggested change?

[2022-06-09 15:20] wenkokke commented on #517
Is this still true using the most recent version of Agda?

[2022-06-09 15:20] #513 closed, assigned to nobody

[2022-06-09 15:22] #510 closed

[2022-06-09 15:24] wenkokke commented on #504
If anyone reading the book notices a missing citation, or a citation which is a hyperlink to an external page rather than a link to the references section of the chapter, please submit an issue.

[2022-06-09 15:25] wenkokke commented on #499
@wadler Was this fixed?

[2022-06-09 15:27] #210 closed

[2022-06-09 15:28] #475 closed

[2022-06-09 15:32] wenkokke commented on #232
We should probably make these uses consistent. @wadler?

[2022-06-09 21:50] jsiek commented on #552
I had not, but now I have! Thanks for the ping.

[2022-06-09 21:50] #552 closed, assigned to jsiek

[2022-06-09 21:56] wadler commented on #206
Thanks!

[2022-06-09 22:01] wadler commented on #554
Wen and I have revised the README, and will republish the new version soon. (Various updates to CI required first.) We've taken on board the original suggestion. Thank you!

[2022-06-09 22:06] wadler commented on #589
Waiting on CI to work before accepting a change to Agda code. I  hope CI will be fixed soon!

[2022-06-09 22:16] wadler commented on #655
I'm going to leave it as it is. If anyone wants to suggest an improved wording, please submit a pull request.

[2022-06-09 22:16] #655 closed, assigned to wadler

[2022-06-09 23:29] wenkokke commented on #589
It’s already working, actually.

[2022-06-10 10:06] GetContented commented on #655
Thanks! Sorry for reporting that I was having difficulties understanding. I've since realised that I should have been using the mailing list, and been learning some leanprover quite a bit and more Agda through Conor's videos, and I understand rewriting much better now. Your revised version is also much easier to understand.

[2022-06-10 13:07] wadler commented on #655
Noted, thanks!

[2022-06-10 15:53] #677 closed, assigned to nobody

[2022-06-13 22:14] wenkokke opened #681 "Convert internal links into anchors for EPUB"
Convert, e.g., `/<path>/index.html#<fragment>` to `#<path>-<fragment>`, and convert IDs similarly.

[2022-06-14 15:27] #681 closed, assigned to nobody

[2022-06-14 15:28] wenkokke opened #682 "Agda IDs are not consistent across files"
A partial solution would be, for each library, to:

- generate an `Everything.agda` in `_cache/<libraryName>` which imports all modules in a set of libraries;
- run Agda once to highlight this file and all files in that library in one go, adding `_cache/<library>` to the include path so Agda can find the `Everything.agda`;
- modify the build rules so that each task is registered as generating a wh

[2022-06-14 23:40] #664 closed, assigned to wenkokke

[2022-06-15 11:04] wenkokke commented on #679
Some errors are still there as warnings; see the action build logs.

[2022-06-15 11:04] #679 closed, assigned to nobody

[2022-06-15 11:05] wenkokke commented on #676
Fixed in c1adde83789a2fb7fa161a14b4015e0ff2fa8608

[2022-06-15 11:05] #676 closed, assigned to nobody

[2022-06-15 11:06] wenkokke commented on #671
Fixed in 3bd18a892319c8a5051f015b81f392edd7317abc

[2022-06-15 11:06] #671 closed, assigned to nobody

[2022-06-15 11:17] wenkokke opened #683 "Add descriptions to anchor links"
- [ ] Add descriptions to all footnote links, as done in [5827bc3](https://github.com/plfa/plfa.github.io/commit/5827bc3f0f8172b80c0fb9ec012ffcf83ce3a658#diff-f7ccb94ec731d3f9c0776f6dd4489addf172c7d3f590a39acc2a5cfe575688fdR7)
- [ ] Automatically add descriptions to links generated by Agda

[2022-06-15 11:30] wenkokke opened #684 "Compile course PDFs as part of build"
- [ ] Write rule which compiles TeX documents
- [ ] Remove course PDFs from repository

[2022-06-15 11:40] wenkokke commented on #682
Relevant Agda issue: https://github.com/agda/agda/issues/2735

[2022-06-15 11:51] wenkokke opened #685 "Publish build and test reports"
The build and tests generate reports:

- **Shake**: already generated, see: [Makefile#L35](https://github.com/plfa/plfa.github.io/blob/c0464e4e31679c59291ec6198008d8f9b28617e3/Makefile#L35)
- **HTMLProofer**: see [HTMLProofer: Reporting](https://github.com/gjtorikian/html-proofer#reporting)
- **html-validate**
- **EPUBCheck**: see [EPUBCheck: Getting a report in a structured format](https://www.w3

[2022-06-15 11:55] wenkokke opened #686 "Enable external link checks with caching"
See: [gjtorikian/html-proofer#configuring-caching](https://github.com/gjtorikian/html-proofer#configuring-caching)

[2022-06-15 12:22] wenkokke opened #687 "Rename Section to Chapter"
For consistency with Pandoc:

[2022-06-15 12:47] wenkokke opened #688 "Fix fonts"
![34A19A8D-61F7-4F5B-917F-FA41BA395493](https://user-images.githubusercontent.com/3983973/173830695-4ba65fe7-94a1-4646-a820-61490e565d1d.jpeg)

[2022-06-15 18:08] wenkokke commented on #686
[Exclude GitHub links](https://github.com/gjtorikian/html-proofer#special-cases-for-the-command-line) by adding `--url-ignore="/github.com/"` to `HTML_PROOFER_ARGS`.

[2022-06-15 18:09] wenkokke opened #689 "Write instructions for development using branches and PRs"
Add [branch protection](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/managing-a-branch-protection-rule) on dev to enforce a workflow using PRs.

[2022-06-15 22:44] edgardSchi opened #690 "Weird identifiers on website"
I was just reading through the [Lambda chapter](https://plfa.github.io/Lambda/) again on the website and noticed these weird identifiers in the examples:
![lambda_web](https://user-images.githubusercontent.com/32880975/173947671-36c98aa5-2f87-45cc-b186-8472765914a6.png)

The source file looks as it should:
![lambda_source](https://user-images.githubusercontent.com/32880975/173948380-f2a883bc-a9b3-

[2022-06-16 00:26] wadler commented on #690
Thanks for the heads up, but it looks ok on my machine. Maybe it is an issue with how you have your browser configured?

[2022-06-16 00:45] fangyi-zhou commented on #690
I think there's is something wrong with the markdown to HTML conversion, the quotes are encoded into `&quot;` and then encoded again into `&amp;quot;`, which is where it went wrong.
https://github.com/plfa/plfa.github.io/blob/9cd5af85629b6389c3b79494e066b78a8ab8b02b/Lambda/index.html#L75

[2022-06-16 04:06] anadon opened #692 ""Getting Started" failure to build and install `agda` due to geniplate-mirror maybe?"
Hello all, tech stack looked interesting so I figured I'd try and play around.

Following the "Getting Started" section for Linux, the build/install step using `stack` has been failing.  The error at the bottom I kept getting is `<stderr>: commitAndReleaseBuffer: invalid argument (invalid character)`.  I'm re-running the same `stack` install command and each time I do, I received different output

[2022-06-16 04:28] anadon commented on #692
Looking over the CI, there actually isn't any testing that listed instructions in the "Getting Started" work.  That might be some low-hanging fruit to fix.

[2022-06-16 10:47] wenkokke commented on #690
@wadler This is still an issue on the live version of the book. Perhaps you were looking at a cached version.

[2022-06-16 10:50] wenkokke commented on #690
That is 100% the problem, yes. I’ll have to investigate, but I think that the issue lies with the TagSoup pass [here](https://github.com/plfa/plfa.github.io/blob/dev/tools/Buildfile.hs#L274-L285) encoding HTML entities in the Markdown source.

[2022-06-16 10:51] wenkokke commented on #692
I don’t think we currently recommend using stock for anything? Are you using the latest version of the instructions in “getting started“?

[2022-06-16 12:36] wenkokke commented on #692
Ignore the linked commit. It’s attempting to fix 690, not this issue.

[2022-06-16 12:37] wenkokke commented on #692
Closing as the current documentation does not mention Stack.